@import url("reset.css"); 

body {
    background: url('/img/bg-top.png') repeat-x top left;
    color: #424242;
    font-family: "pt-sans","Helvetica Neue", Helvetica, Arial,  sans-serif;
    line-height: 1.4em;   
    font-size: .9em;
    padding: 0;
    font-weight: 300;
}
h1,
h2,
h3,
p { padding: 8px 0px; }
h1{ 
    font-size: 1.8em; 
    letter-spacing: 1px;
}
h2{ 
    font-size: 1.5em; 
    letter-spacing: 0px;
    line-height: 1.5em;
    text-align: left;
}
h3{ font-size: 1.1em; font-weight: bold; }

a {
    color: #00BAFF;;
    text-decoration: none;
    -webkit-transition: all 0.05s ease;
    -moz-transition: all 0.05s ease;
    -o-transition: all 0.05s ease;
    transition: all  0.05s ease;
}
a:hover { 
    color: #424242;
}

.back-to-blog
{
  text-align: center;
  padding-top: 30px;
}
.back-to-blog a
{
  border: 3px solid #00baff;
  border-radius: 50px;
  padding: 8px 12px;
}
.back-to-blog a:hover
{
  background: #00BAFF;
  color: #fff;
}

.wrapper
{
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
}
.header {
  padding: 25px 0px;
  background: url('/img/logo.png') top center no-repeat;
}
.header h1
{
  display: inline;
  font-weight: bold;
  letter-spacing: -1px;
}
.header ul
{
  float: right;
}
.navigation
{
  margin: 25px 0px 60px;
  text-transform: lowercase;
}
.navigation ul, .navigation li
{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
.navigation li
{
  padding: 0px 5px;
}
.content
{
  text-align: justify;
  font-weight: 300;
  margin-top: 40px;
}
.meta
{
  text-align: right;
  font-size: .9em;
  text-decoration: italic;
}

.post-list
{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.post-list a
{
  color: #424242;
  padding: 3px 5px;
  border-left: 4px solid #fff;
}
.post-list a:hover {
  background: #eee;
  color: #222;
  border-left: 4px solid #00BAFF;
}
.post-list li
{
  padding: 3px 0px;
  
  /*border-right: 5px solid #fff;*/
  /*border-bottom: 1px solid #fff;*/
}
.post-list li:hover
{
  /*border-left: 3px solid #00BAFF;*/
}
.post-list li:hover .date
{
  display: none;
}
.post-list li:last-child
{
  border-bottom: none;
}
.post-list li .date
{
    float: right;
    display: none;
}
.footnotes
{
  font-size: .8em;
  line-height: 1.5em;
  margin-top: 80px;
  border-top: 1px dashed #ccc;
  padding-top: 20px;
}
.footnotes hr
{
  display: none;
}

blockquote
{
  border-left: 10px solid #00BAFF;
  padding-left: 15px;
  font-style: italic;
  margin: 20px 0px 20px 0px;
}
img
{
  width: 100%;
}
ul
{
  list-style: square;
}
pre
{
  font-family: monospace;
  padding: 10px 0px 10px 30px;
  font-size: .9em;
}


/*
    Media queries to 
    make content responsive
    to different screen sizes.

    Thanks @beep
*/

@media screen and (max-width: 480px) {
  .post-list li .date
  {
    display: none;
  }
  .content
  {
    text-align: left;
  }
}