@import "reset"; 

$text: #444;
$color: #00ACED; 
$dark_color: darken($color, 10%);
$serif: 'adelle', Georgia, serif;
$headline: Helvetica, Arial, sans-serif;
$sans: "museo-sans", Helvetica, Arial, sans-serif;

body {
  font-family: $sans;
  color: #333;
  line-height: 1.4em;   
  font-size: 16px;
  font-weight: 300; 
}  
h1,
h2, 
h3,
p { 
  padding: 8px 0px; 
}
h1,
h2,
h3 {
  line-height: 1.2em;
  font-weight: 300;
  font-family: $serif;
  text-align: center;
}

h1 { 
  font-size: 1.9em; 
  font-weight: bold;
  a {
    text-decoration: none;
  }
}
h2 { 
  font-size: 1.6em; 
  letter-spacing: 0px;
  a{
    text-decoration: none;
  }
}
h3 { 
  font-size: 1.4em; 
  a {
    text-decoration: none;
  }
}

a {
  color: $color;
  text-decoration: none;
  &:hover { 
    color: $dark_color;
  }
}

.wrapper
{
  width: 525px;
  margin: 50px auto;
}

.header { 
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999px;
  background: url('../img/logo.png') center no-repeat;
  background-size: 100px 100px;
  font-family: $sans;
  margin-bottom: 40px;
  padding: 0;
  h1 {
    color: #fff;
    float: right;
    line-height: 75px;
    font-family: $sans;
    padding-right: 25px;
  }
}

.content {
  font-weight: 300;
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.footer {
  text-align: center;
  border: #aaa solid 1px;
  width: 80%;
  margin: 20px auto;
}

.about {
  padding: 10px 0px 30px 0px;
  font-size: .9em;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    padding-right: 15px;
  }
}

.article {
  border-top: 1px solid #ddd;
  padding: 40px 0px;
  &:first-child {
    border-top: none;
    padding-top: 0px;
  }
}

.meta {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  color: #aaa;
  text-align: center;
}

.archive-list {
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    padding: 10px 0px;
    list-style: none;
    &:nth-child(1) {

    }
  }
  .date {
    display: block;
    font-size: .8em;
    color: #888;
  }
} 

.footnotes {
  font-size: .8em;
  line-height: 1.5em;
  margin-top: 80px;
  border-top: 1px dashed #ddd;
  padding-top: 20px;
  hr {
    display: none;
  }
}

.back-to-blog {
  padding-top: 30px;
  text-align: center;
}

blockquote {
  border-left: 7px solid $color;
  padding-left: 15px;
  font-style: italic;
  margin: 20px 0px 20px 0px;
}
ul {
  list-style: disc;
}
pre {
  font-family: monospace;
  padding: 10px 0px 10px 30px;
  margin: 15px 0px;
  font-size: .8em;
  max-width: 100%;
  overflow: auto;
  background: #f8f8f8;
}
/*
    Media queries to 
    make content responsive
    to different screen sizes.

    Thanks @beep
*/

@media screen and (max-width: 750px) {
  .wrapper {
    width: 90%;
    margin: 50px auto;
  }
}