@import "reset"; 

$text: #222;
$gray: #ddd;
$color: #79C5D5;
$dark_color: darken($color, 10%);
$type_body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$type_header: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: $type_body;
  color: $text;
  line-height: 1.5em;   
  font-size: 14px;
  font-weight: 400;
  margin: 0; 
  padding: 0;
}  
h1,
h2, 
h3,
p { 
  padding: 8px 0px; 
}
h1,
h2,
h3 {
  line-height: 1.2em;
  font-weight: bold;
  a {
    color: $color;
  }
}

h1 { 
  font-size: 180%; 
  letter-spacing: -1px;
  a {
    text-decoration: none;
    font-weight: bold;
  }
}
h2 { 
  font-size: 150%; 
  a{
    text-decoration: none;
  }
}
h3 { 
  font-size: 130%;
  a {
    text-decoration: none;
  }
}

a {
  color: $color;
  text-decoration: none;
  &:hover { 
    color: $color;
  }
}

.wrapper
{
  width: 100%;
  margin: 0px auto 50px;
}

.header { 
  font-family: $type_header;
  padding: 0;
  font-weight: 300;
  text-align: center;   
  width: 100%;
  border-bottom: 1px solid $gray;
  .logo {
    background-color: #fff;
    border-radius: 50%;
    border: 10px solid $color; 
    margin: 50px auto 25px;
    width: 100px;
    height: 100px;
    a {
      background: url('../img/spark.png') center no-repeat $color;
      display: block;
      border-radius: 50%;
      width: 84px;
      height: 84px;
      margin: 0 auto;
      margin-top: 8px;
      background-size: 85% 85%;
    }
  }
  .user {
    margin-bottom: 25px;
    a {
      color: $gray;
      border-radius: 10px;
      padding: 5px;
      border: solid 3px $gray;
      &:hover {
        color: $color;
        border-color: $color;
      }
    }
    h1 {
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 100%; 
      &.date {
        font-size: .8em;
      } 
    }
  }
}

.content {
  width: 450px;
  margin: 50px auto 0px;
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.footer {
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

.about {
  padding: 10px 0px 30px 0px;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    padding-right: 15px;
  } 
}

.archive_list {
  margin: 80px 10px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none; 
    }
  }
}

.article {
  img {
    max-width: 100%;
  }
}

.article-content {
  a {
    color: #000;
    border-bottom: solid 1px $gray;
    padding-bottom: 1px;
  }
}

.page {
  margin: 30px 0px;
  a {
    color: #000;
    border-bottom: solid 1px $gray;
    padding-bottom: 1px;
  }
}

.meta {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: $type_header;
  text-align: center;
  font-size: .8em;
  font-weight: 200;
  color: #aaa;
}

.footnotes {
  font-size: .8em;
  line-height: 1.5em;
  margin-top: 80px;
  border-top: 1px dashed #ddd;
  padding-top: 20px;
  hr {
    display: none;
  }
}


blockquote {
  border-left: 7px solid $color;
  padding-left: 15px;
  font-style: italic;
  margin: 20px 0px 20px 0px;
}
ul {
  list-style: disc;
}
pre {
  font-family: monospace;
  padding: 10px 0px 10px 30px;
  margin: 15px 0px;
  font-size: 1em;
  max-width: 100%;
  overflow: auto;
  background: #f8f8f8;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
/*
    Media queries to 
    make content responsive
    to different screen sizes.

    Thanks @beep
*/

@media screen and (max-width: 400px) {
  .content {
    width: 90%;
    margin: 0 auto;
  }
  .header {
    margin-bottom: 25px;
  }
}