@import "reset"; 
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

@mixin boxy { 
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px #ddd;
  border-radius: 5px;
  padding: 30px 40px;
  margin: 25px 0px;
  text-align: justify;
  &:first-child {
    margin-top: 0px;
  }
}

$text: #222;
$color: #00ACED; 
$dark_color: darken($color, 10%);
$type_body: 'Lucida Grande', Verdana, sans-serif;
$type_header: 'museo-sans', 'Source Sans Pro', 'Lucida Grande', Verdana, sans-serif;

body {
  font-family: $type_body;
  color: #444;
  line-height: 1.6em;   
  font-size: 13px;
  font-weight: 100;
}  
h1,
h2, 
h3,
p { 
  padding: 8px 0px; 
}
h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: $type_header;
  text-align: left;
}

h1 { 
  font-size: 1.9em; 
  text-align: left; 
  a {
    text-decoration: none;
    font-weight: bold;
  }
}
h2 { 
  font-size: 1.6em; 
  letter-spacing: 0px;
  a{
    text-decoration: none;
  }
}
h3 { 
  font-size: 1.4em; 
  a {
    text-decoration: none;
  }
}

a {
  color: $color;
  text-decoration: none;
  &:hover { 
    color: $dark_color;
  }
}

.wrapper
{
  width: 420px;
  margin: 50px auto;
  margin-top: 100px;
}

.header { 
  font-family: $type_header;
  margin-bottom: 90px;
  padding: 0;
  font-weight: 200;
  text-transform: lowercase;
  .amp {
    font-family: Palatino, Constantia, Georgia;
    font-size: 15px;
  }
}

.content {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.footer {
  text-align: center;
  border: #aaa solid 1px;
  width: 80%;
  margin: 20px auto;
}

.about {
  padding: 10px 0px 30px 0px;
  font-size: .9em;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    padding-right: 15px;
  } 
}

.article {
  @include boxy;
}

.page {
  @include boxy;
}

.meta {
  text-transform: uppercase;
  text-align: left;
  font-size: .9em;
  font-weight: bold;
  color: #aaa;
}

.index-list {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    padding: 3px 0px;
    margin-bottom: 10px;
    list-style: none;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .date {
    font-size: 13px;
    color: #888;
    display: block;
  }
} 

.footnotes {
  font-size: .8em;
  line-height: 1.5em;
  margin-top: 80px;
  border-top: 1px dashed #ddd;
  padding-top: 20px;
  hr {
    display: none;
  }
}

.button {
  margin-top: 30px;
  text-align: center;
  a {
    border-radius: 5px;
    background: $color;
    color: #fff;
    padding: 10px 15px;
    &:hover {
      background: $dark_color;
    }
  }
}

blockquote {
  border-left: 7px solid $color;
  padding-left: 15px;
  font-style: italic;
  margin: 20px 0px 20px 0px;
}
ul {
  list-style: disc;
}
pre {
  font-family: monospace;
  padding: 10px 0px 10px 30px;
  margin: 15px 0px;
  font-size: .8em;
  max-width: 100%;
  overflow: auto;
  background: #f8f8f8;
}
/*
    Media queries to 
    make content responsive
    to different screen sizes.

    Thanks @beep
*/

@media screen and (max-width: 500px) {
  .wrapper {
    width: 90%;
    margin: 20px auto;
  }
}