@import url("reset.css");

body {
    color: #555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5em;   
    background: url('../images/fabric_plaid.png') top left repeat #111;
    font-size: 16px;
    padding: 0;
    font-weight: 200;
}
h1,
h2,
h3,
p { padding: 8px 0px;}
h1{ 
    font-size: 3em; 
    font-weight: bold;
}
h2:first-child{
	margin-top: 0em;
}
h2{ 
}
a {
    color: #111;
    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all  0.1s ease;
    font-weight: bold;
}
a:hover { 
    color: #999;
}

/* 
    Wrapper 
*/

.wrapper {
    background: #000;
    width: 350px;
    margin: 50px auto;
    background:#fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 100px rgba(0, 0, 0, 0.06) inset;
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 100px rgba(0, 0, 0, 0.06) inset; 
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 100px rgba(0, 0, 0, 0.06) inset;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.wrapper .header {
    background: url('../images/kdbg.png') bottom center no-repeat #fff;
    height: 280px;
    margin: 0px;
    color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(200, 200, 200, 0.27), 0 0 100px rgba(200, 200, 200, 0.06) inset;
       -moz-box-shadow: 0 1px 4px rgba(200, 200, 200, 0.27), 0 0 100px rgba(200, 200, 200, 0.06) inset; 
            box-shadow: 0 1px 4px rgba(200, 200, 200, 0.27), 0 0 100px rgba(200, 200, 200, 0.06) inset;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

/* 
    Content 
*/

.content {
    padding: 15px 25px;
    text-align: left;
}

/*
    Post
    Styles
*/

em {
    font-weight: bolder;
}
/*
    Media queries to 
    make content responsive
    to different screen sizes.

    Thanks @beep


@media screen and (max-width: 520px) {
  .wrapper {
    width: 95%;
  }
  .header h1 {
    font-size: 1.9em; 
  }
}*/