@import url("reset.css");

body {
    color: #222;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.6em;   
    font-size: 13px;
    padding: 0;
    font-weight: normal;
    border-top: 12px solid #1ba5d3;
}
h1,
h2,
h3,
p { padding: 8px 0px;}
h1{ 
    font-size: 1.5em; 
    font-weight: bold;
    letter-spacing: 1px;
}
h2{ 
    font-size: 1.3em; 
    letter-spacing: -1px;
    line-height: 1.5em;
}
h3{ font-size: 1.1em; font-weight: bold; }

a {
    color: #111;
    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all  0.1s ease;
    font-weight: bold;
}
a:hover { 
    color: #999;
}

.wrapper
{
    width: 400px;
    margin: 50px auto;
}
.header
{
  height: 70px;
  width: 400px;
}
.navigation
{
  text-align: center;
  margin: 25px 0px 60px;
}
.content
{
  text-align: justify;
}
.content a
{
  color: #1ba5d3;
}

.post-list
{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.post-list li
{
  padding: 8px;
}
.post-list li
{
  border-bottom: 1px solid #eee;
}
.post-list li:last-child
{
  border-bottom: none;
}
.post-list li .date
{
    float: right;
    font-family: monospace;
    font-size: .9em;
}

blockquote
{
  border-left: 5px solid #242424;
  padding-left: 15px;
  font-style: italic;
}
img
{
  width: 100%;
}
ul
{
  list-style: square;
}
/*
    Media queries to 
    make content responsive
    to different screen sizes.

    Thanks @beep
*/

@media screen and (max-width: 420px) {
  .wrapper
  {
  }
}