<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<section class="wrapper">
<section class="content">
{{ content }}
</section>
<section class="sidebar">
<ul>
  <li><a href="/archives">Archives</a></li>
  <li><a href="/colophon">Colophon</a></li>
  <li><a href="/feeds">Subscribe</a></li>
  <li><a href="/index.xml">RSS</a> &middot; <a href="http://twitter.com/kyledregercom">Twitter</a></li>
</ul>

<h3 class="small-caps">Hello</h3>
<p>This is a small webcolumn that focuses on how design can be applied to writing, technology, and craft.  Made in Ohio, made on a Mac.</p><p>Written daily-ish by Kyle Dreger. </p>

</section>
</section>
<div class="clear"></div>
{% include footer.html %}
</body>
</html>