<!doctype html>

<!--
Title: {{ page.title }}
Author: Kyle Dreger
Published on: {{ page.date | date: "%b %d, %Y" }}
-->

<html lang="en">
{% include head.html %}
<body onload="setupZoom()">
<section class="wrapper">
<section class="sidebar">
{% include header.html %}
</section>

<section class="content">
<article class="article">
<h2 class="article-title-link"><a href="{{ page.link }}">{{ page.title }} &rarr;</a></h2>
{{ content }}
<p class="article-meta">{{ page.date | date: "%b %d, %Y" }} &middot; <a href="{{ post.url }}">Permalink</a></p>
</article>
{% include footer.html %}
</section>
</section>
</body>
</html>