<!doctype html>

<!--
Title: {{ page.title }}
Author: Kyle Dreger
Published on: {{ page.date | date: "%b %d, %Y" }}
-->
<html lang="en">
{% include head.html %}
<body>
<section class="wrapper">
{% include header.html %}
<article class="article">
<h1 class="article-title big"><a href="{{ page.url }}">{{ page.title }}</a></h1>
{% if page.link %}
<a class="outgoing-anchor" href="{{ page.link }}">original source &rarr;</a>
{% endif %}
{{ content }}
<p class="article-meta"><a href="{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a></p>
</article>

<section class="pagination">
{% if page.next %}<a href="{{ page.next.url }}">&larr; Previous</a>{% endif %}{% if page.previous %}<a href="{{ page.previous.url }}">Next &rarr;</a>{% endif %}
</section>

</section>
<div class="clear"></div>
{% include footer.html %}
</body>
</html>