<!doctype html>

<!--
Title: {{ page.title }}
Author: Kyle Dreger
Published on: {{ page.date | date: "%b %d, %Y" }}
-->
<html lang="en">
{% include head.html %}
<body class="log">
<section class="wrapper">
{% include header-log.html %}
<article class="article">
<h1 class="article-title big"><a href="{{ page.url }}">{{ page.title }}</a></h1>
<p>Recorded on {{ page.date | date: "%B %d, %Y" }} &mdash; <a href="{{site.domain}}/log/audio/{{ page.audio }}">Download here</a> ({{ page.audio_size }})</p>

<audio controls="controls"  src="{{site.domain}}/log/audio/{{ page.audio }}">
  <source src="{{site.domain}}/log/audio/{{ page.audio }}" type="audio/mpeg">
  Your browser does not support the audio element. Please download the audio file above.
</audio>

{{ content }}
</article>

</section>
<div class="clear"></div>
{% include footer.html %}
</body>
</html>