{% include head.html %}

<!--
Title: {{ page.title }}
Author: Kyle Dreger
Published on: {{ page.date | date: "%b %d, %Y" }}
-->

<body>
{% include header.html %}
<section class="wrapper container">

{% if page.category == 'log-podcast' %}
	<article class="article">
	<p class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></p>
	<audio controls="controls"  src="{{site.domain}}/log/audio/{{ page.file }}">
	<source src="{{site.domain}}/log/audio/{{ page.file }}" type="audio/mpeg">
	Your browser does not support the audio element. Please download the audio file above.
	</audio>
	<p>Recorded on {{ page.date | date: "%B %d, %Y" }} &mdash; <a href="{{site.domain}}/log/audio/{{ page.file }}">Download here</a> ({{ page.size }})</p>
	{{ content }}
	</article>

{% elsif page.category == 'post' %}
	<article class="article">
	<p class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></p>
	{{ content }}
	<p class="date"><a href="{{ page.url }}">{{ page.date | date: "%b, %d, %Y" }}</a></p>
	</article>

{% elsif page.category == 'link' %}
	<article class="link">
	<p class="source-information"><a href="{{ page.source-link }}">{{ page.title }}</a></p>
	<p class="snippet">{{ content }}</p>

	<p class="date"><a href="{{ page.url }}">{{ page.date | date: "%b, %d, %Y" }}</a></p>
	</article>

{% endif %}

</section>
<div class="clear"></div>
{% include footer.html %}
</body>
</html>