
<!--
Title: {{ page.title }}
Author: Kyle Dreger
Published on: {{ page.date | date: "%b %d, %Y" }}
-->

{% if page.category == 'show' %}
<article class="article">
<h1 class="post_title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
<audio controls="controls"  src="{{site.domain}}/log/audio/{{ page.file }}">
<source src="{{site.domain}}/log/audio/{{ page.file }}" type="audio/mpeg">
Your browser does not support the audio element. Please download the audio file above.
</audio>
<p>Recorded on {{ page.date | date: "%B %d, %Y" }} &mdash; <a href="{{site.domain}}/log/audio/{{ page.file }}">Download here</a> ({{ page.size }})</p>
{{ content }}
</article>

{% elsif page.category == 'post' %}
<article class="article">
<h1 class="post_title">
<a href="{{ page.url }}">{{ page.title }}</a>
</h1>
{{ content }}
<p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
</article>

{% elsif page.category == 'link' %}
<article class="link">
<h1 class="link_title">
<a href="{{ page.source-link }}">{{ page.title }}</a>
<a class="permalink" href="{{ post.url }}">&bull;</a>
</h1>

{{ content }}

<p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
</article>

{% endif %}
