<footer class="footer">
  <div class="wrap">
    <section>
      <h3 class="small-caps">Hello</h3>
      <p>Thanks for stopping by. This is a small webcolumn that focuses on how design can be applied to technology, writing, usability, and more. Written daily by Kyle Dreger.</p>
    </section>

    <section>
      <h3 class="small-caps">Navigation</h3>
      <ul>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/colophon">Colophon</a></li>
        <li><a href="/feeds">Subscribe</a></li>
        <li><a href="/index.xml">RSS</a></li>
      </ul>
    </section>




  </div>
</footer>