<footer class="footer">
  <div class="wrap">
    <p>Powered by coffee and prayer.</p>
    <ul>
      <li><a href="/colophon">About</a></li>
      <li><a href="/archives">Archives</a></li>
      <li><a href="/log">The Log</a></li>
      <li><a href="/feeds">Subscribe</a></li>
    </ul>
  </div>
</footer>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bigfoot.min.js"></script>
<script type="text/javascript">
$.bigfoot({
  actionOriginalFN: "ignore"
  });
</script>

