<nav>
<ul class="header-nav">
<li><a class="home" href="/">Dreger</a></li>
<li><a href="/colophon">About</a></li>
<li><a href="/archives">Archives</a></li>
<li><a href="/feeds">Subscribe</a></li>
<li>
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:kyledreger.com">
    <input class="search" type="text" name="q" results="0" placeholder="Search">
  </fieldset>
</form>
</li>
</ul>
</nav>

<!-- <h1 class="site-title"><a href="/">Dreger Notes</a></h1> -->

<!-- <select><option value="">HYPERTEXT…</option><option value="http://kyledreger.com/">» Home</option><option value="http://kyledreger.com/about">» About</option><option value="http://kyledreger.com/photos">» Photos</option><option value="http://kyledreger.com/projects">» Projects</option><option value="http://kyledreger.com/syndicate">» RSS</option></select> -->