@import "css3/_transition";
@import "css3/_prefixer";
@import "_grid";

// Custom variables
// Love Skolar Web #71b3c7 0cc
$color: #ff8000;
$color: #00a47a;
$color: #db4a29;
$color: #0cc;
$color: #2A8FBD;
$dark_color: darken($color, 15%);
$font_stack: open-sans, "Avenir", "Tahoma", sans-serif;
$font_header: $font_stack;
$font_body: $font_stack;

$width: 45rem;
$content_padding: 2.5em;
$text: #4d4d4d;
$gray: #cacaca;
$gray_light: #eee;
$highlight: lighten($color, 35%);
* {
  margin: 0;
  padding: 0;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Typography */

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font_body, sans;
  font-size: 19px;
  line-height: 1.6em;
  color: $text;
  border-bottom: solid 30px $color;
}

h1, h2, h3, h4 {
  line-height: 1em;
  font-family: $font_header;
}

h1 {
  font-size: 2.2em;
  font-weight: 900;
  a {
    border-bottom: none;
  }
}
h2 {
  font-size: 1.95em;
}
h3 {
  font-size: 1.3em;
  margin: 1.5em 0em;
  text-transform: uppercase;
}
h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}

p, ul, li {
  margin-top: 2em;
}

small, .small {
  font-size: 1em;
}



/* Colors */

body {
  color: #444;
  background-color: #fff;
}

a {
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid $gray;
  padding-bottom: -2px;
}

a:hover {
  color: $color;
}

.color {
  color: $color;
}


/* Layout */


img {
  display: block;
  width: 100%;
  border-radius: 3px;
}

small {
  font-size: .9em;
  font-style: italic;
  text-align: center;
  display: block;
  width: 100%;
  margin: 1rem auto;
}

.list {
  clear: both;
  font-family: $font_header;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 900;
  text-align: left;
  a {
    border-bottom: none;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-top: 2em;
    li {
      margin: .5em 0em;
      list-style: none;
      a {
        -webkit-transition: all 0.12s ease;
        transition: all 0.12s ease;
        padding: .3em;
        background-color: $gray_light;
        border: 10px solid $gray_light;
        // border-left: 0px solid $gray_light;
        display: inline-block;
        &:hover {
          -webkit-transition: all 0.12s ease;
          transition: all 0.12s ease;
          background-color: $gray_light;
          // padding-left: .5em;
          // border-left: 10px solid $color;
        }
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.wrapper {
  max-width: $width;
  padding: 0% 5%;
  padding-bottom: 0;
  margin: 0 auto;
  margin-top: 4em;
}

header {
  border-top: none;
  margin: 2em auto 5em;
  text-align: left;
  // width: 90%;
  .profile {
    overflow: auto;
    display: block;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 0;
  }
}

.big {
  font-size: 3em;
  font-weight: 900;
  font-weight: 900;
  color: $color;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.date {
  color: $gray;
  text-transform: uppercase;
}
.right {
  text-align: right;
}


hr.line {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(190,190,190,0.75), rgba(190,190,190,0));
  background-image: -moz-linear-gradient(left, rgba(190,190,190,0.75), rgba(190,190,190,0));
  background-image: -ms-linear-gradient(left, rgba(190,190,190,0.75), rgba(190,190,190,0));
  background-image: -o-linear-gradient(left, rgba(190,190,190,0.75), rgba(190,190,190,0));
  margin: 2.5em 0em;
}

.footer {
  text-align: center;
  margin: 3.5em 0em;
  width: 100%;
}



.article {
  p,blockquote,ul {
    margin: 1.5rem 0rem;
  }
  p:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  blockquote {
    border-left: 2px solid $gray;
    padding: 10px 0px 10px 15px;
    color: #777;
    margin-left: 1em;
    p:last-child {
      padding: 0;
      margin: 0;
    }
  }
}

.article-title {
  text-align: left;
  font-family: $font_body;
}



ul, ol {
  padding-left: 1.5rem;
  li {
    margin: 8px 0px;
  }
}
pre {
  padding: 20px;
  background-color: #eee;
  border: solid 3px #ddd;
  code {
    border: none;
    padding: none;
  }
}
code {
  padding: 1px 5px;
  border: 2px solid #ddd;
  background-color: #eee;
  font-size: .9em;
}

/*
    Build a responsive web.
    Thanks @beep

    Grid thanks to
    http://jxnblk.com/
    The dude's a rockstar
*/


/* Desktop Grid */

@media screen and (min-width: 768px) {
  .post-date {
    display: none;
  }
  .row:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
  .col {
    float: left;
    width: 30%;
    margin-right: 5%;
  }
  .col:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .header {
    margin-bottom: 2em;
  }
  .post-date {
    display: none;
  }
  .title {
    margin-top: 2em;
  }
}