@import "css3/_transition";
@import "css3/_prefixer";
@import "_grid";

$color: #a1b53b;
$dark_color: darken($color, 15%);
$font_stack: "Avenir Next", sans-serif;
$font_header: freight-sans-pro, $font_stack;
$font_body: ff-tisa-web-pro, $font_stack;
$width: 36rem;
$content_padding: 2.5em;
$text: #222222;
$gray: #cacaca;
$gray_light: #eee;
$highlight: lighten($color, 35%);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font_body, sans;
  font-size: 16px;
  line-height: 1.53em;
  color: $text;
  background-color: #FDFDFD;
}

h1, h2, h3, h4 {
  line-height: 1em;
  font-family: $font_header;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #222;
  }
}

h1 {
  font-size: 2em;
  font-weight: 400;

}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
  margin: 1.5em 0 0;
  & + p {
    margin-top: .2em;
  }
}

h4 {
  font-size: 1.1em;
  text-transform: uppercase;
}

p, blockquote,ul {
  margin: 1.2em 0;
}

small, .small {
  font-size: 1em;
}

a {
  color: $color;
  text-decoration: none;
  // border-bottom: 1px solid $gray;
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease;
  // &:visited {
  //   color: #e97f2a;
  // }
  &:hover {
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    color: #222;
  }
}

.color {
  color: $color;
}


/* Layout */

#title {
  font-size: 2.5em;
  font-weight: 900;
}

ol.index {
  font-family: $font_header;
  li {
    list-style: square;
    color: $gray;
  }
}


img {
  display: block;
  max-width: 100%;
  border-radius: 3px;
  height: auto !important;
}

small {
  font-size: .9em;
  font-style: italic;
  text-align: center;
  display: block;
  width: 100%;
  margin: 1rem auto;
}

.list {
  clear: both;
  font-family: $font_header;
  text-transform: none;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 900;
  text-align: left;
  ul {
    margin: 0;
    padding: 0;
    margin-top: -3em;
    li {
      padding: 0;
      list-style: none;
      a {
        border-bottom: none;
        padding: .4em;
        padding-left: 0em;
        margin: 0;
        font-weight: 700;
        display: inline-block;
      }
    }
  }
}

.list-by-year {
  color: $gray;
  padding: .5em 0;
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  margin-top: 2.8em;
  &:first-child {
    margin-top: none;
  }
}

.wrapper {
  max-width: $width;
  padding: 0 5%;
  padding-bottom: 0;
  margin: 0 auto;
  margin-top: 3em;
}

header {
  border-top: none;
  margin: 0 auto 3.5em;
  text-align: left;
  .profile {
    overflow: auto;
    display: block;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    margin: 1em auto;
  }
}

.big {
  font-size: 3em;
  font-weight: 900;
  font-weight: 900;
  color: $color;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.date {
  color: $gray;
  font-weight: bold;
  font-family: $font_header;
}

.right {
  text-align: right;
}

.footer {
  text-align: center;
  margin: 4em 0em;
  width: 100%;
}


.article-title {
  text-align: left;
  color: #222;
  & + p {
    margin-top: .2em;
  }
}
.article {
  margin-bottom: 5em;
  p:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  li {
    margin: 1em;
  }
  blockquote {
    border-left: 8px solid $gray;
    padding: 10px 0 10px 15px;
    color: #777;
    margin-left: 0;
    p:last-child {
      padding: 0;
      margin: 0;
    }
  }
}

ul, ol {
  padding-left: 1.5rem;
  li {
    margin: 8px 0px;
  }
}
pre {
  padding: 20px;
  background-color: #eee;
  border: solid 2px #ddd;
  code {
    border: none;
    padding: none;
  }
}
code {
  padding: 1px 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  font-size: .8em;
}

/*
    Build a responsive web.
    Thanks @beep
*/

@media screen and (max-width: 768px) {
  // .list {
  //   font-size: 1.5em;
  // }
  // .list a {
  //   line-height: 1em;
  // }
  // .wrapper {
  //   padding: 0% 5%;
  //   margin: 2em auto;
  // }
  // .welcome {
  //   display: none;
  // }
  // body {
  //   background: none;
  //   font-size: 18px;
  // }
  // .header {
  //   margin-bottom: 2em;
  // }
  // .post-date {
  //   display: none;
  // }
  // .title {
  //   margin-top: 2em;
  // }
}