@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

@mixin reverseFloat {
  img {
    float: right;
  }
  .description {
    float: left;
  }
}

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 35px solid #eee;
  border-top: 35px solid #eee;
  color: #222;
  font-family: "Open Sans", "Avenir Next", Arial, Verdana;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
}

/*
  Links and page styles
*/

a {
  color: #145d84;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    border-bottom: 3px solid #fff;
  }
}

h1, h2, h3{
  font-weight: 100;
  margin: 0;
  padding: 0;
}

p, img, ul, ol, {
  margin-bottom: 1.5em;
}

.signature {
  max-width: 250px;
  display: block;
  margin: 0;
  a {
    border: none;
  }
}

.section-title {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

/*
 Page layout
*/

section {
  max-width: 650px;
  margin: 2em auto;
  padding: 1em;
}

.content {
  max-width: 1000px;
}

.work {
  max-width: 100%;
  font-weight: 400;
  padding: 1em 1em;
  overflow: auto;
  margin: 0 auto;
  color: #fff;
  .description {
    max-width: 45%;
    float: right;
  }
  img {
    max-width: 50%;
    float: left;
    height: auto;
  }
  p:first-child {
    margin-top: 0;
  }
  a {
    color: #fff;
    &.website-link {
      &:after {
        content: " \2192";
      }
      font-size: 1.5em;
    }
  }
}

/*
  Work Sections
*/

.on-tap {
  background-color: #333;
  @include reverseFloat;
}
.kao {
  background-color: #145d84;
}
.cfupc {
  background-color: #61a7a4;
  @include reverseFloat;
}
.marquette {
  background-color: #ff4b87;
}
.kd {
  background-color: #fff;
  color: #222;
  @include reverseFloat;
  a {
    color: #222;
    border-color: #222;
  }
  img {
    border: 2px solid #ddd;
    border-radius: 10px;
    border-top: none;
  }
}
.calliope {
  background-color: #6A0581;
}


/*
  Responsive design via media queries
*/

@media screen and (max-width: 700px) {
  .section-title {
    font-size: 2em;
    margin-bottom: .5em;
    text-align: center;
  }
  .work {
    .description {
      float: none;
      max-width: 100%;
    }
    img {
      float: none;
      max-width: 100%;
    }
  }
}