---
---

// Few variables
$color-dark: rgb(38, 43, 46);
$color: $color-dark; // rgb(114, 175, 191);
$color-copy: #333;//#1d1f20;
$color-bg: #fff; //#b1b1b1;
$color-faded: #bbb;
$sans:  'Ideal Sans SSm A', 'Ideal Sans SSm B', Helvetica Neue, Arial;
$max-width: 34rem;
$h1-size: 1.8rem;

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    color: $color-copy;
    background-color: $color-bg;
    font-family: $sans;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans;
}

h1 {
  font-weight: bold;
  font-size: $h1-size;
  line-height: 1.15em;
  margin-top: 0;
}
h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: italic;
}
h3 {
  text-transform: uppercase;
  color: #444;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 1.5rem 0 0;
  + p { margin-top: .25rem; }
}

blockquote {
  font-style: italic;
}


.header {
  transition: .14s ease;
  margin: 0;
  padding: 2rem 1rem;
  color: #aaa;
  font-size: 1rem;
  opacity: .3;
  &:hover {
    opacity: 1;
  }
}
.wrap {
  max-width:$max-width;
  margin: 0 auto;
}

.post_title {
  a {
    text-decoration: none;
    color: #222;
  }
}
.link_title {
  font-size: 1rem;
}
.permalink {
  margin-left: .5rem;
}

img {
  width: 180%;
  height: auto;
  display: block;
  margin: 1.5rem 0 1.5rem -40%;
  border-radius: 3px;
}


a {
    color: $color;
    &:hover { color: lighten($color, 30%); }
    &:active { color: darken($color, 10%); }
}

ul {
  li {
    margin: .5rem 0;
  }
}


.archives {
  margin: 0;
  padding: 0;
  font-family: $sans;
  li {
    line-height: 1.15em;
    list-style: none;
    font-size: 1rem;
    margin: 1.5rem 0;
  }
  a {
    text-decoration: none;
  }
}

.current {
  @extend .archives;
  display: block;
  li {
    font-size: $h1-size;
    margin: 4rem 0;
  }
}

.list-header {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 6rem 0 3rem;
  // padding-top: 1rem;
  // border-top: 2px solid lighten($color-faded, 10%);
}

.faded {
  color: $color-faded;
}

hr {
  height: 1px;
  background-color: $color-faded;
  width: 60%;
  margin: 2rem auto;
  border: 1px solid $color-faded;
  border-radius: 10px;
}

@media (max-width: 970px) {
  img {
    margin-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 14px;
  }
  .header {
    opacity: .8;
    padding: 1rem 1rem;
  }
  .home {
    font-size: 1.5rem;
    li:first-child {
      margin-top: 0;
    }
  }
  .list-header {
    margin: 3rem 0;
  }
}
