---
---
$color: #3182EF;
$color-light: lighten($color, 10%);
$color-dark: darken($color, 10%);
$color-copy: #e9ebed;
$color-bg: #2B2D2F;
$color-faded: #808080;
$color-hover: #444;

$color: #3182EF;
$color-light: lighten($color, 10%);
$color-dark: darken($color, 10%);
$color-copy: #383F45;
$color-bg: #ffffff;
$color-faded: #9fa4a8;
$color-hover: #dfdfdf;


$sans: "San Francisco Text", "Helvetica Neue", Verdana;
$serif: "Hoefler Text", Georgia;
$max-width: 28rem;

$h1-size: 1.6rem;
$h2-size: 1.3rem;

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
    color: $color-copy;
    background-color: $color-bg;
    font-family: $serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4rem;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem 1rem 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans;
  a {
    color: $color-copy;
    border: none;
    &:active { color: $color-faded; }
  }
}

h1 {
  font-weight: normal;
  font-size: $h1-size;
  line-height: 1.2em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h2 {
  margin-top: 2rem;
  font-size: $h2-size;
  font-weight: normal;
  font-style: italic;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .9rem;
  margin: 2rem 0 .5rem;
  + p { margin-top: .25rem; }
}


.site-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  line-height: 1rem;
  &:hover {
    text-decoration: none;
    color: $color-light;
  }
}

.header {
  font-size: 1rem;
  margin-top: 5rem;
  font-weight: normal;
  font-family: $sans;
  color: $color-faded;
  p { margin: 0; }
  a { text-decoration: none; border: none; }
}
.logo {
  max-width: 150px;
  height: auto;
}
.icon { font-size: 1.4rem; }
.nav {
  font-weight: bold;
  margin: 1rem 0 0;
  padding: 0;
  li {
    list-style: none;
    display: inline;
    margin: 0 1rem 0 0;
  }
}

article {
	padding: 0 0 1.5rem;
  p {
    margin: 1rem 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

article span {
	display: block;
	margin: 0;
}

.frontpage .date:nth-child(2) {
  display: none;
}

.date {
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 1px;
  font-family: $sans;
  padding: 5rem 0 1rem;
  color: $color-faded;
  display: inline-block;
}

footer {
  margin-top: 4rem;
  font-family: $sans;
  border-top: 2px solid $color-hover;
  text-align: right;
  padding: 0;
  color: $color-faded;
}

.permalink {
  margin-left: .5rem;
  padding: 0 .25rem;
  color: $color-faded;
  border-color: $color-faded;
  &:hover {
    color: $color;
  }
}

.small-caps {
  font-variant: small-caps;
}

em img {
  width: 180%;
  margin: 1.5rem 0 1.5rem -40%;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 1.5rem 0 1.5rem;
  border-radius: 3px;
}


a {
  color: $color;
  text-decoration: none;
  border-bottom: 1px dotted $color;
  &:hover { background-color: $color-hover;  }
  &:active { color: $color-dark; }
}


ul {
  li {
    list-style: square;
    margin: .25rem 0;
  }
}

article + p {
  display: inline;
}


.archives {
  margin: 0;
  padding: 0;
  font-family: $sans;
  .date {
    // padding: 3rem 0 1rem;
  }
  li {
    list-style: none;
    font-size: 1rem;
    margin: 0 0 2rem 0;
  }
}



.faded {
  color: $color-faded;
}

hr {
  background-color: none;
  width: 40%;
  margin: 2.5rem auto;
  border: 1px dashed $color-hover;
  // border-radius: 10px;
  + ol {
    font-size: .9rem;
    line-height: 1.4em;
  }
}
.center { text-align: center; }
.button {
  text-decoration: none;
  padding: .5rem 1rem;
  border: solid 2px $color;
  border-radius: 3px;
  display: block;
  font-weight: bold;
  text-align: center;
  max-width: 300px;
  margin: 1rem auto;
  &:hover {
    background-color: $color;
    color: $color-bg;
  }
}

@media (max-width: 1250px) {
  em img {
    margin-left: -25%;
    max-width: 150%;
  }
}

@media (max-width: 1000px) {
  em img {
    margin-left: -10%;
    max-width: 120%;
  }
}

@media (max-width: 800px) {
  em img {
    margin-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 18px;
  }
  .header {
    margin: 0 0 1rem;
  }
  .date {
    padding-top: 1rem;
    font-size: .9rem;
  }
  .frontpage .date:first-child {
    margin-top: 0;
    padding-top: 2rem;
  }

}
