@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);
/* Mixin */
/* Colors */
/* Typography */
/* Titles and such */
.site-title { color: #333333; font-weight: normal; font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Arial, sans-serif; font-size: 3em; text-transform: none; margin-bottom: 1.25rem; line-height: 1em; font-size: 2em; text-transform: lowercase; font-family: inherit; line-height: 1em; font-weight: normal; margin: 0; padding: 0; letter-spacing: 1px; }
.site-title a { color: #333333; text-decoration: none; }
.site-title a:hover { text-decoration: none; }

/* Article page */
.article-title, .article-title-link { color: #333333; font-weight: normal; font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Arial, sans-serif; font-size: 3em; text-transform: none; margin-bottom: 1.25rem; line-height: 1em; font-size: 3em; letter-spacing: 0px; font-weight: bold; }
.article-title a, .article-title-link a { color: #333333; }
.article-title a:hover, .article-title-link a:hover { text-decoration: none; }

.article-meta { color: #a0a0a0; font-family: "Merriweather", "Georgia Pro", "Georgia", serif; text-transform: capitalize; letter-spacing: 1px; font-size: 1em; }
.article-meta a { text-decoration: none; border: none; color: #a0a0a0; }
.article-meta a:hover { color: #222222; }

.article-title-link { font-weight: bold; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 0; padding: 0; font-size: 1em; }
.article-title-link + p { margin-top: .5rem; }
.article-title-link a { line-height: 1.5em; color: #333333; line-height: 1.1em; }
.article-title-link a:hover { text-decoration: underline; }
.article-title-link .permalink { text-decoration: underline; margin-left: 1em; }
.article-title-link .link-arrow { margin-left: .5em; display: none; }

/* Layout variables */
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { background-color: white; color: #2a2a2a; font-family: "Merriweather", "Georgia Pro", "Georgia", serif; font-size: 16px; line-height: 1.5em; }

h1, h2, h3, h4 { line-height: 1.2em; }

h1, h2, h3, h4, h5, h6 { font-size: 1em; }

h2 { color: #333333; font-weight: normal; font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Arial, sans-serif; font-size: 3em; text-transform: none; margin-bottom: 1.25rem; line-height: 1em; }

h3 { font-size: 1.25em; margin: 1.8em 0em; font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Arial, sans-serif; color: #333333; font-weight: bold; text-transform: uppercase; border-left: 10px solid #cdcdcd; padding: .5em 0 .5em 1em; line-height: 1em; letter-spacing: 1px; }
h3 + p { margin-top: .2em; }

h4 { font-size: 1.25em; margin-top: 2em; }

a { color: #222222; text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: 0; }

/* Layout */
.wrapper, .reading-wrapper { margin: 0 auto; max-width: 64rem; padding: 3em 2em; overflow: auto; border-top: none; }

.content { width: 100%; float: none; font-weight: 400; }

.dregerbar, .reading-dregerbar { width: 100%; border-bottom: 3em solid #222222; padding: 3em 0; text-align: left; font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Arial, sans-serif; }
.dregerbar .header-nav, .reading-dregerbar .header-nav { margin: 0 auto; padding: 0 2em; max-width: 64rem; }
.dregerbar li, .reading-dregerbar li { display: inline; list-style-type: none; }
.dregerbar a, .reading-dregerbar a { font-size: 2em; color: #cdcdcd; margin-right: 1em; letter-spacing: 1px; }
.dregerbar a:hover, .reading-dregerbar a:hover { color: #222222; text-decoration: none; border-bottom: 5px solid #222222; }

.reading-wrapper { max-width: 48rem; padding-top: 3rem; font-size: 1.4rem; line-height: 1.5em; }
.reading-wrapper .article-title, .reading-wrapper .article-title-link { font-size: 3.25rem; }

.reading-dregerbar { padding: .5em 0; border-bottom: none; text-align: center; background-color: #2a2a2a; }
.reading-dregerbar a { font-size: 1rem; color: #fff; }

.small-cap-title { border-top: 3px solid #eeeeee; padding: .25em 0; font-size: .8rem; letter-spacing: 1px; text-transform: uppercase; font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Arial, sans-serif; margin-bottom: 2em; color: #cdcdcd; }

.left-column { max-width: 56%; float: left; }

.right-column { max-width: 44%; float: right; padding-left: 4em; }

/* Archive page */
ol.archive { font-family: "Merriweather", "Georgia Pro", "Georgia", serif; font-size: 1.25em; margin: 0; padding: 0; }
ol.archive li { text-align: left; display: block; list-style: none; padding: .5em 0; margin: 0; }
ol.archive a { text-decoration: none; border-bottom: none; }

.archive-date { float: none; font-size: 1em; display: block; color: #cdcdcd; }

.article { padding: 0; text-align: left; }
.article p:first-child { margin-top: 0; }

.article-link + .separator { margin: 1em 0; }

img, blockquote, ul, ol, p { margin: 1.25em 0; }

img { border-radius: 3px; display: block; height: auto; max-width: 100%; }

small { display: block; font-size: .9em; font-style: italic; margin: 1rem auto; text-align: center; width: 100%; }

blockquote { border-left: 5px solid #222222; margin-left: 0; font-style: italic; padding: 0 1em; }
blockquote p:last-child { margin: 0; padding: 0; }

ul, ol { padding-left: 0rem; }

ul li { list-style: square; margin: .5em 0; }

ol li { margin: .5em 0; }

pre { font-family: Menlo, Monaco, monospace; background-color: #eeeeee; border: 1px solid #cdcdcd; padding: 1em; }
pre code { border: none; padding: none; }

code { background-color: #eeeeee; border: 1px solid #cdcdcd; font-size: .9em; padding: 3px 5px; border-radius: 1em; }

/* Misc styles */
.center { text-align: center; }

.right { text-align: right; }

.separator { display: block; margin: 5em auto; text-align: left; color: #a0a0a0; }

hr { border: solid #cdcdcd; border-radius: 5px; border-width: 2px 0 0; clear: both; color: #fff; margin: 3em auto; height: 1px; max-width: 430px; width: 6em; }

/* Media queries */
@media (max-width: 600px) { body { font-size: 16px; }
  .wrapper, .reading-wrapper { margin-top: 0em; padding: 2em .5em; max-width: 500px; }
  .dregerbar li:last-child, .reading-dregerbar li:last-child { display: none; }
  .header { margin: 2rem auto; border-bottom: 2px solid #cdcdcd; padding: 0; width: 100%; text-align: center; float: none; display: block; }
  .header nav, .header p { display: none; }
  .site-title { padding-bottom: 2rem; margin: 0; }
  .article-title, .article-title-link { font-size: 2em; }
  .content { background-color: #fff; margin-top: 0; width: auto; float: none; padding: 1em; padding-top: 0; }
  .article-title, .article-title-link { text-align: center; }
  .article { margin-bottom: 3em; }
  .separator { margin: 3em auto; width: 100%; } }
