<section class="header">

	<section class="logo">
      <a href="/"></a>
  </section>

  <!--<section class="user">
  	<h1><a href="http://twitter.com/{{site.twitter}}">@{{site.twitter}}</a> <a href="/about">about</a></h1>
    {% if page.title %}
      <h1 class="date">{{ page.date | date: "%b %d, %Y" }}</h1>
    {% else %}
      <script type="text/javascript">
      var currentDate = new Date()
      var month=new Array();
      month[0]="Jan";
      month[1]="Feb";
      month[2]="Mar";
      month[3]="Apr";
      month[4]="May";
      month[5]="Jun";
      month[6]="Jul";
      month[7]="Aug";
      month[8]="Sep";
      month[9]="Oct";
      month[10]="Nov";
      month[11]="Dec";
      var month = month[currentDate.getMonth()];
      var day = currentDate.getDate()
      var year = currentDate.getFullYear()
      document.write("<h1 class=\"date\">" + month + " " + day + ", " + year + "</h1>")
      </script>
    {% endif %} 

  </section>-->
  <a href="/about">?</a>
</section>
<!-- end header -->
