
<section class="header">
  <section class="logo"><a href="/"></a></section>
    {% if page.title %}
      <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
    {% else %}
      <script type="text/javascript">
      var currentDate = new Date()
      var month = new Array();
      month[0]="January";
      month[1]="February";
      month[2]="March";
      month[3]="April";
      month[4]="May";
      month[5]="June";
      month[6]="July";
      month[7]="August";
      month[8]="September";
      month[9]="October";
      month[10]="November";
      month[11]="December";
      var month = month[currentDate.getMonth()];
      var day = currentDate.getDate()
      var year = currentDate.getFullYear()
      document.write("<span class=\"date\">" + month + " " + day + ", " + year + "</span>")
      </script>
    {% endif %} 
</section>
<!-- end header -->
