:root {
  --accent: rgb(255,194,0); // #FFC200
  --text: rgba(0,0,0,.7);
  --faded: #ddd; 
  --bg: #fff;
  --font: "Courier Prime Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Droid Sans", "Ubuntu", sans-serif;
}
html { font-size: 16px; }
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  color: var(--text);
  font-family: var(--font); 
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  background: var(--bg);
  letter-spacing: -0.008em;
  line-height: 1.375; // regular 
  line-height: 1.5; // monospace
  text-rendering: optimizeLegibility;
  max-width: 50rem;
}
h3,strong { font-weight: 700; }
h1 { font-size: 2.25rem; line-height: 1.25; margin-bottom: 1rem; font-weight: normal; }
h2 { 
  font-size: 1.5rem; 
  margin: 2.25rem 0 .5rem; 
  text-transform: uppercase;
  letter-spacing: .02em;
  font-weight: normal;
}
h3 { font-size: 1rem; margin: 1.5rem 0 .25rem; }
p { margin: 0 0 1.25rem 0; }
a {
  color: var(--text); 
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--accent);
}
a:hover { text-decoration-color: var(--text); }
hr { margin: 1.25rem 0; height: 2px; background: var(--faded); border: 0; }
img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1.25rem;
  border: solid 4px var(--faded);
  &:hover { border-color: var(--accent); }
}
main {
  max-width: 38rem;
  margin: 2rem 0;
  padding: 1rem;
}
footer {
  margin-top: 6rem;
  font-size: .875rem; 
}

input, button {
  border: solid 2px var(--faded); 
  font-size: .875rem; 
  padding: .5rem 1rem; 
  background: none; 
  border-radius: 2px; 
  font-family: var(--font); 
}
input:focus { border-color: var(--accent); }
button {
  background: var(--accent);
  border-color: var(--accent); 
  font-weight: bold;
}
.title { 
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background:  url(/assets/images/bolt.svg) no-repeat 50%;
  text-indent: -1000em;
  background-size: 60%;
  border-radius: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 800px) { main { margin-top: 1rem; padding-top: 0; } }

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgba(255,255,255,.9); 
    --bg: #1f2023; 
    --faded: #383b40; 
    --accent: rgba(255,194,0,.9); 
  }
  // img {
  //   -webkit-filter: invert(1);
  //   filter: invert(1);
  // }
}