:root {
  --accent: rgb(255,194,0); // #FFC200
  --text: rgba(0,0,0,.9);
  --faded: #eee; 
  --bg: #fff;
  --font: 'InterFam', -apple-system, BlinkMacSystemFont, "Avenir Next", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Droid Sans", "Ubuntu", sans-serif;
}
::selection { background-color: var(--accent); }
* { box-sizing: border-box; }
html { font-size: 16px; }
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  color: var(--text);
  font-family: var(--font); 
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  background: var(--bg);
  line-height: 1.375; // regular 
  line-height: 1.5; // monospace
  text-rendering: optimizeLegibility;
}
h1,h2,h3,img,blockquote,ul,ol,p { margin: 0 0 1.25rem 0; }
h3,strong { font-weight: 500; }
strong {
  text-transform: uppercase;
  letter-spacing: .04em;
  font-size: .875em; 
}
h1, h2, h3 { 
  font-weight: 500; 
  line-height: 1.25; 
}
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { 
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .02em; 
}
ul { list-style: square; padding-left: 1.1rem; }
a {
  color: var(--text); 
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1px;
  text-decoration-color: transparent;
  transition: all ease-out .1s; 
}
a:after {
  content: ""; 
  color: var(--accent); 
  margin-left: 0.05em; 
  top: -0.5em; 
  font-weight: bold; 
  position: relative; 
  width: .25em; 
  height: .25em; 
  border-radius: 100px; 
  border: solid 2px var(--accent); 
  display: inline-block; 
}
a:hover { 
  color: var(--accent); 
}

hr { margin: 3rem 0; height: 2px; background: var(--faded); border: 0; }
img {
  width: 130%;
  margin-left: -15%; 
  height: auto;
  display: block;
  margin-bottom: 1.25rem;
  border: solid 2px var(--faded);
  border-radius: 4px; 
  &:hover { border-color: var(--accent); }
}
main {
  max-width: 43.5rem;
  margin: 2rem auto;
  padding: 1rem;
  position: relative;
}
form { display: flex; }
input { width: 70%; margin-right: .5rem; }
button { width: 30%; }
input, button {
  border: solid 2px var(--faded); 
  font-size: .875rem; 
  padding: .5rem 1rem; 
  background: none; 
  line-height: 1;
  border-radius: 2px; 
  font-family: var(--font); 
}
input:focus { 
  border-color: var(--accent); 
  outline: none;
}
button {
  background: var(--accent);
  border-color: var(--accent); 
  font-weight: bold;
}
.title { 
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background:  url(/assets/images/waves.svg) no-repeat 50%;
  text-indent: -1000em;
  background-size: 100%;
  border-radius: 100%;
  margin-bottom: 2rem;
  &:hover {
    opacity: .5; 
  }
}

@media (max-width: 920px) {
  img { width: 100%; margin-left: 0; }
}

@media (max-width: 600px) { 
  html { font-size: 18px; }
  main { margin-top: 1rem; padding-top: 0; } 
  form { 
    flex-direction: column; 
    width: 100%;
  }
  input { 
    display: block; 
    max-width: 360px; 
    width: 100%;
    margin-right: 0; 
    margin-bottom: .5rem 
  }
  button { 
    max-width: 360px; 
    width: auto; 
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgba(255,255,255,.9); 
    --bg: #1f2023; 
    --faded: #383b40; 
    --accent: rgba(255,194,0,.9); 
  }
  input { color: var(--text); }
}