---
---

$color: #29A5F4;
$color: #FFC600;
$color: #ABB8C2; 
$color-danger: #d54242;
$color-toggle: #28af40;
$color-light: lighten($color, 10%);
$color-dark: darken($color, 10%);
$color-copy: #222;
$color-bg: #fff;
$color-faded: #9fa4a8;
$color-hover: #dfdfdf;
$font-family:  "Avenir Next", "Helvetica Neue", "Segoe UI", "Helvetica", Arial;
$max-width: 32rem;

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  font-size: 16px;
}
body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: $font-family;
    padding: 0;
    color: $color-copy;
    background-color: $color-bg;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7rem;
}


h1 {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: normal;
  line-height: 1em;
  a { font-weight: normal; }
}
h2 {
  font-size: 1.3rem;
  margin: 1rem 0;
  line-height: 1.2em;
  font-weight: 900;
}
h3 {
  font-weight: bold;
  margin: 2rem 0 0;
  & + p { margin-top: .5rem; }
}

.header {
  margin-top: 8rem;
}

.wrapper {
  max-width: $max-width;
  margin: 5rem auto 0;
  padding: 0 1rem 1.5rem;
}


article p {
  margin: 0;
  text-indent: 1.5em;
  &:first-child { text-indent: 0; }
}


article span {
	display: block;
	margin: 0;
}


footer {
  margin-top: 4rem;
  text-align: right;
  padding: 0;
  color: $color-faded;
}

.permalink {
  margin-left: .5rem;
  padding: 0 .25rem;
  color: $color-faded;
  border-color: $color-faded;
  &:hover {
    color: $color;
  }
}

.small-caps {
  font-variant: small-caps;
}

.favorite {
  color: #f2b854;
}



img {
  width: 100%;
  height: auto;
  display: block;
  margin: 1.5rem 0 1.5rem;
  border-radius: 3px;
}


a {
  color: $color;
  font-weight: 700;
  &:hover { color: $color-light; }
  &:active { color: $color-dark; }
}

.archive-title {
  font-size: 1.5rem;
  margin: .5rem 0;
}



.author {
  margin: 1rem 0 1.25rem;
  overflow: auto;
  display: block;
  text-decoration: none;
  color: $color-copy;
}
.author-name {
  font-size: 1.35rem;
  margin-top: .8rem;
  font-weight: bold;
  display: inline-block;
}
.author-pic {
  height: auto;
  float: left;
  width: 50px;
  margin: 0 .5rem 0 0;
  border-radius: 100px;
}

.signals {
  margin: 0;
  padding: 0;
  li {
    margin: 1rem 0;
    list-style: none;
  }
}

ul {
  li {
    list-style: circle;
    margin: .25rem 0;
  }
}

article + p {
  display: inline;
}

.notice {
  padding: .5rem 1rem;
  border-radius: 3px;
  background-color: #fff0b5;
  font-style: italic;
  font-size: .8rem;
  line-height: 1.4em;
  display: none;
}

.archives {
  margin: 0;
  padding: 0;
  li {
    display: block;

    margin: .5rem 0;
  }
  a {
    display: inline-block;
    margin: 0;
  }
  .date {
    font-size: .8rem;
    margin: 0;
    line-height: 1em;
    display: block;
    color: $color-faded;
  }
}

blockquote {
  margin: 2rem 0;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-top: 1px solid $color-hover;
  border-bottom: 1px solid $color-hover;
  text-align: left;
  + p {
    text-indent: 0;
  }
}

.faded {
  text-indent: 0;
  margin: 2rem 0;
  color: $color-faded;
}

hr {
  background-color: $color-hover;
  width: 100%;
  margin: 1.5rem auto;
  border: none;
  height: 1px;
}

.right { text-align: right; }

.center { text-align: center; }

// ===============
// Admin styles
// ===============

.post_body,
.post_title,
.post_slug {
  width: 100%;
  overflow: auto;
  outline: none;
  box-sizing: border-box;
  border: 1px solid $color-hover;
  border-radius: 5px;
  margin: .25rem 0;
  padding: .5rem;
  resize: none;
}

.post_title {
  font-size: 2rem;
}

.button {
  margin: .25rem 0;
  border: solid 1px $color-hover;
  background: white;
  font-weight: bold;
  padding: .25rem .5rem;
  border-radius: 5px;
  &:hover {
    background: $color-hover;
  }
}

@media (max-width: $max-width + 4rem) {
  .wrapper {
    margin-top: 1rem;
  }
  .post-form-actions {
    display: block;
    margin: 1rem auto;
    text-align: center;
    padding: 0 .5rem;
    border: solid 1px $color-hover;
    border-radius: 5px;
    li {
      padding: 0;
      display: block;
      padding: 0;
      margin: 1rem 0;
    }
  }
  .post-form-submit,
  .post-form-destroy,
  .post-form-slug {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  em img {
    margin-left: 0;
    max-width: 100%;
  }
}
