{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "main" }}
	{{ if .PublishDate }}
       <!--  <a href="/" class="post__author">
      <span class="post__author__image"></span>
      <span class="post__author__byline">K.Q. Dreger</span>
    </a> -->
  	<header class="header">
      <a href="/">dreger.me</a>
    </header>
	{{ end }}

  	<h1 class="post__title">{{ .Title }}</h1>
    <h2 class="post__summary">{{ .Summary }}</h2>

    

  

  	{{ .Content }}
{{ if .PublishDate }}
    <p class="post__meta"><br>&mdash; {{ .PublishDate.Format "January 2, 2006" }}</p>
    {{ end }}

{{ end }}