<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2014-10-20-something-audacious.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35227501</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-13-the-show-ep-0.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35228097</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-20-printing-san-francisco.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35228097</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-12-02-typed-for-mac.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35228002</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-12-12-budgeting.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35228199</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-01-19-beautiful-images-with-css.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35228002</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-01-25-wabi-sabi.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35227901</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-02-02-freeing-springboard.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35227901</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-14-start.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35227799</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-17-kerbal-space-program.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35227698</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-09-fitbit-hr-review.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35227698</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-28-briefing.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35227603</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-07-briefings.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35227603</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-18-firewatch.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35228199</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-28-deleting-accounts.md</key>
			<dict>
				<key>lastModification</key>
				<real>481594775.35228199</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-05-medium.md</key>
			<dict>
				<key>lastModification</key>
				<real>481595015.30416697</real>
				<key>version</key>
				<dict>
					<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-04-05-medium.md</string>
		</array>
		<array>
			<string>2014-10-20-something-audacious.md</string>
		</array>
		<array>
			<string>2016-02-07-briefings.md</string>
		</array>
		<array>
			<string>2016-01-28-briefing.md</string>
		</array>
		<array>
			<string>2016-01-09-fitbit-hr-review.md</string>
		</array>
		<array>
			<string>2015-07-17-kerbal-space-program.md</string>
		</array>
		<array>
			<string>2015-07-14-start.md</string>
		</array>
		<array>
			<string>2015-02-02-freeing-springboard.md</string>
		</array>
		<array>
			<string>2015-01-25-wabi-sabi.md</string>
		</array>
		<array>
			<string>2015-01-19-beautiful-images-with-css.md</string>
		</array>
		<array>
			<string>2014-12-02-typed-for-mac.md</string>
		</array>
		<array>
			<string>2014-11-20-printing-san-francisco.md</string>
		</array>
		<array>
			<string>2014-11-13-the-show-ep-0.md</string>
		</array>
		<array>
			<string>2016-02-18-firewatch.md</string>
		</array>
		<array>
			<string>2014-12-12-budgeting.md</string>
		</array>
		<array>
			<string>2016-03-28-deleting-accounts.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>927173c41c4369a329939db295efdc2cb0fab93bf012f9d456c57eb6e3e50b41</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
