$color_copy: #444;
$color_header: #222; 
$color_accent: #0074D9;

$color_faded: #7b7b7b;
$color_faded_light: #7a7a7a;
$color_faded_lightest: #9a9a9a; 
$color_faded_single_line: #dadada; 
$color_faded_blue: #f1f3f6;