@import "_normalize";
@import "_pygments";
@import "_bigfoot-default";

$page_width: 32rem;
$page_margin: 0 auto;
$page_padding: 2rem 1rem;
$header_footer_margin: 3rem;

$color_copy: #222;
$color_accent: #8aba56;
$color_accent_log: #00aced;

$color_faded: #8E8E8E;
$color_faded_light: #AAAAAA;
$color_faded_lightest: #CFCFCF; 


$color_faded_blue: #f1f3f6;

$font_size: 16px;
$sans:  "Helvetica Neue", "Segoe UI", Arial, sans-serif;
$serif: $sans;

$h1-size: 1.625rem; 
$h2-size: 1.25rem; 
$h3-size: 1.625rem; 


$wrapper-padding: 2rem; 

$max-width: 560px; 

@mixin colorless-links($color) {
  a { 
    color: $color; 
    text-decoration: none; 
    &:hover { color: #222; }
    &.active { color: #222; }
  }
}

%container-padding {
  padding: 0 1rem; 
}

body {
  line-height: 1.4rem;
  font-family: $sans; 
  font-size: $font-size; 
  -moz-box-sizing: content-box; box-sizing: content-box;
}

.container {
  max-width: $max-width; 
  margin: 0 auto;
}

.wrapper {
  @extend %container-padding; 
  margin: 0 auto;
  padding-top: $wrapper-padding;
  article:first-child {
    margin-top: 0; 
  }
}

.header {
  // @extend %container-padding; 
  font-size: 1.8rem;
  margin-bottom: 0;
  border-bottom: 10px solid #eee; 
  padding: $wrapper-padding + 3rem 1rem $wrapper-padding 1rem; 
  a { border: none; }
}

.site-title {
  text-transform: lowercase;
  letter-spacing: 1px; 
  font-weight: bold; 
  margin-right: 1.5rem;
  text-decoration: none;
  color: #222;
}
.site-date {
  font-weight: normal; 
}

.nav {
  @include colorless-links($color_faded_lightest); 
    margin: 0; 
    padding: 0; 
    margin-top: 1rem;
    font-size: $h2-size;
    li { 
      list-style: none; 
      display: inline;
      margin-right: 1rem;
    }
}

.footer {
  border-top: 1px solid $color_faded_lightest; 
  padding: $wrapper-padding 0; 
  text-align: center; 
  margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, audio, .gist {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6, .article-meta {
  line-height: 1.1em;
  font-family: $sans;

  a {
    text-decoration: none;
    border: none;
    color: #222; 
  }
}

h1 {
  font-size: $h1-size;
  font-weight: 600; 
  margin: 0;
  margin-bottom: .5rem; 
  // font-weight: normal;
  // font-size: 2rem;
  // margin: 4rem 0;
  + h2 {

  }
} // all page titles



article {
  padding: 2rem 0; 
  margin: 0; 

}

article.link + article.link {
  // border-top: 1px dotted $color_faded_light;
  // padding: 1rem 0;
}

.snippet p {
  margin: 0; 
}

.source-information {
  font-weight: 400; 
  display: block;
  margin-bottom: 1rem;
  a { 
    font-weight: bold; 
  }
}

.date-divider {
  margin: 4rem 0;
  letter-spacing: 2px; 
  text-transform: uppercase;  
  font-size: .9rem;
}

.date a {
  color: $color_faded_lightest;
  border: none; 
  padding: 0;
  &:hover {
    color: #222; 
  }
}

a {
  color: #0074D9;
  text-decoration: none; 
  border-bottom: 1px solid $color_faded_lightest; 
  &:hover {
    background-color: $color_faded_lightest;
  }
}

img {
  max-width: 100%; 
  height: auto;
}

/* Media queries */


@media (max-width: 1200px) {
  aside {
    position: relative;
    margin-left: 0;
    font-style: italic;
    max-width: inherit;
    margin-top: 0;
    float: none;
    font-size: .9rem;
    text-align: inherit;
    width: auto;
    line-height: inherit;
    padding: .5em 0;
  }

  strong > img{
    max-width: 140%;
    margin-left: -20%;
  }
}

@media (max-width: 900px) {
  .footer {
    margin-top: 3rem;
  }
  strong > img, .article-break {
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
 
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  article {
    padding: 1rem 0;
  }

  .wrapper {
    padding: 1rem; 
  }

  h1.center.strong {
    font-size: 1.1rem;
  }
  .large {
    font-size: 1rem; 
  }

  .post-date {
    display: none;
  }

  .navigation {
    ul {
      float: none; 
      li { margin: 0 .75rem 0 0; }
    }
    margin: 4rem 0;
  }
  .title {
    float: none; 
    display: block; 
    margin-bottom: .75rem;
  }

  .index span, .archives span {
    display: block;
  }
}
