@import '_normalize';
@import '_pygments';

body {
  font-family: avenir next;
  font-size: 26px;
}

.wrapper {
  padding: 1rem;
  max-width: 45rem;
}

.article-title {
  margin: 1rem 0;
  font-size: 3rem;
  line-height: 1em;
}

a {
  text-decoration: none;
  color: #222;
}

.archives {
  margin: 0;
  padding: 0;
  li {
    margin: 3rem 0;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
    &:first-child {
      margin-top: 0;
    }
  }
}