/* Mixin */
@mixin h2_style {
  color: $colorForHeadings;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: none;
  margin-bottom: 1.5rem;
  line-height: 1em;
}

@mixin colorlessLinks {
  a {
    text-decoration: none;
    border: none;
    color: $colorGray;
    &:hover {
      color: $color;
    }
  }
}

/* Colors */
$color: #F1433F;
$colorForBody: #333;
$colorForHeadings: #333;
$colorGray: #ccc;
$colorGrayLight: #ddd;

/* Typography */
$typeSize: 14px;
$typeLineHeight: 1.625em;
$typeForHeadings:  'Avenir Next', 'Helvetica Neue', 'Segoe UI', Verdana sans-serif;
$typeForBody: $typeForHeadings, Georgia, serif;

/* Layout variables */
$wrapperWidth: 30rem;
$largeImageWidth: 52rem;
$largeImageOffset: 11rem;
$largeImageOffset: ($largeImageWidth - $wrapperWidth) / 2 + 1rem;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FDFDFD;
  color: $colorForBody;
  font-family: $typeForBody;
  font-size: $typeSize;
  line-height: $typeLineHeight;
}

h1, h2, h3, h4 {
  font-family: $typeForHeadings;
  line-height: 1.2em;
  a {
    color: $colorForHeadings;
    text-decoration: none;
    border: none;
  }
}

h1 {
  font-size: 2.4em;
}

h2 {
  @include h2_style;
}

h3 {
  font-size: 1em;
  margin: 1.8em 0em;
  color: $colorForHeadings;
  font-weight: bold;
  text-transform: uppercase;
  border-left: 5px solid $colorGrayLight;
  padding: .5em 0 .5em 1em;
  & + p {
    margin-top: .2em;
  }
}

h4 {
  font-size: 1em;
  text-transform: uppercase;
}

a {
  color: $color;
  border-bottom: 1px solid $colorGrayLight;
  text-decoration: none;
  & img {
    border: 0;
  }
}

/* Layout */

.wrapper {
  margin: 0 auto;
  max-width: $wrapperWidth;
  padding: 0 1em;
  padding-bottom: 0;
}

.header {
  margin: 8em auto;
  font-family: $typeForHeadings;
}

.header-nav {
  @include colorlessLinks;
}

.footer {
  font-family: $typeForHeadings;
  padding: 4em 0;
  margin: 4em 0 0;
  border-top: solid 1px $colorGrayLight;
  width: 100%;
}

/* Archive page */

ol.archive {
  font-family: $typeForHeadings;
  margin: 0;
  padding: 0;
  li {
    text-align: left;
    display: block;
    list-style: none;
    padding: .5em 0;
    border-bottom: 1px dashed $colorGrayLight;
    font-size: 1em;
    margin: 0;
    border-bottom: 1px solid $colorGrayLight dotted;
  }
  a {
    text-decoration: none;
    border-bottom: none;
    &:hover {
    }
  }
}
.archive-date {
  float: right;
  display: inline-block;
  color: $colorGray;
}

/* Titles and such */

.site-title {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: .2em;
}

/* Article page */

.article-title {
  @include h2_style;
}
.article-meta {
  font-family: $typeForHeadings;
  color: $colorGray;
  @include colorlessLinks;
}

.article {
  padding: 0em 0;
  p {
    margin-bottom: 1.5em;
  }
}

/* Linklog */

.article-title-link {
  @extend .article-title;
  font-size: 1em;
  font-weight: normal;
  a {
    border-bottom: 1px solid $colorGrayLight;
    line-height: $typeLineHeight;
    color: $color;
  }
  .permalink {
    text-decoration: underline;
    margin-left: 1em;
  }
}

img, blockquote,ul {
  margin: 2em 0;
}

img {
  border-radius: 3px;
  display: block;
  height: auto;
  width: $largeImageWidth;
  margin-left: -$largeImageOffset;
}

small {
  display: block;
  font-size: .9em;
  font-style: italic;
  margin: 1rem auto;
  text-align: center;
  width: 100%;
}

blockquote {
  border-left: 5px solid $colorGrayLight;
  color: #777;
  margin-left: 0;
  padding: .5em 0 .5em 1em;
  p:last-child {
    margin: 0;
    padding: 0;
  }
}

ul, ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5em;
}
ul {
  li {
    list-style: square;
    margin: 8px 0px;
  }
}
ol {
  li {
    margin: 8px 0px;
  }
}

pre {
  border: solid 2px darken($colorGrayLight, 5%);
  padding: 20px;
  code {
    border: none;
    padding: none;
  }
}

code {
  border: 1px solid darken($colorGrayLight, 5%);
  font-size: .9em;
  padding: 1px 5px;
}

/* Misc styles */

.color {
  color: $color;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.separator {
  display: block;
  margin: 5em auto;
  width: 130%;
  margin-left: -15%;
  border-top: solid $colorGrayLight 1px;
  &:last-of-type {
    display: none;
  }
}

/* Media queries */
@media (max-width: 53em) {
  img {
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .wrapper {
    margin-top: 1.5em;
  }
  .footer {
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .header {
    margin: 4em 0;
    width: 100%;
  }
  .article {
    margin-bottom: 3em;
  }
  .archive-date {
    float: none;
    display: none;
    color: $colorForBody;
    font-size: .8em;
  }
  .separator {
    margin: 3em auto;
    width: 100%;
  }
}