


/* Colors */
$color: #096ac5;
$color: #6a3;
$color: #ff0050;
$colorForBackground: #f3f3f3;
$colorForBackground: #fff;
$colorForBody: #2a2a2a;
$colorForHeadings: #333;
$colorGray: #a0a0a0;
$colorGrayLight: #cdcdcd;
$colorGrayLightest: #eee;

//"Avenir Next", "Helvetica Neue", "Segoe UI", Arial, sans-serif;


/* Typography */
$typeSize: 16px;
$siteTitleSize: 1.5em;
$linkTitleSize: 1.5em;
$articleTitleSize: 2em;
$pageTitleSize: $articleTitleSize;
$typeLineHeight: 1.5em;
$typeA: "Avenir Next", "Helvetica Neue", "Segoe UI", Arial, sans-serif;;
$typeB: "Georgia Pro", "Georgia", serif;


/* Layout variables */
$wrapperWidth: 38rem;
$largeImageWidth: 52rem;
$largeImageOffset: 11rem;
$largeImageOffset: ($largeImageWidth - $wrapperWidth) / 2 + 1rem;


/* Mixin */
@mixin h2_style {
  color: $colorForHeadings;
  font-weight: normal;
  font-family: $typeA;
  font-size: $pageTitleSize;
  text-transform: none;
  margin-bottom: 1.25rem;
  line-height: 1em;
}

@mixin colorlessLinks {
  a {
    text-decoration: none;
    border: none;
    color: $colorGray;
    &:hover {
      color: $color;
    }
  }
}

@mixin smallCaps {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1em;
}

@mixin gradient {
  $colorLight: $color;
  $colorDark: darken($colorLight, 10%);

  /* fallback */
  background-color: $color;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from($colorLight), to($colorDark));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, $colorDark, $colorLight);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, $colorDark, $colorLight);

  /* IE 10 */
  background: -ms-linear-gradient(left, $colorDark, $colorLight);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, $colorDark, $colorLight);
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: $colorForBackground;
  color: $colorForBody;
  font-family: $typeB;
  font-size: $typeSize;
  line-height: $typeLineHeight;
  // border-top: 50px solid #222;
}

h1, h2, h3, h4 {
  line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

h2 {
  @include h2_style;
}

h3 {
  font-size: 1.25em;
  margin: 1.8em 0em;
  font-family: $typeA;
  color: $colorForHeadings;
  font-weight: bold;
  text-transform: uppercase;
  border-left: 10px solid $colorGrayLight;
  padding: .5em 0 .5em 1em;
  line-height: 1em;
  letter-spacing: 1px;
  & + p {
    margin-top: .2em;
  }
}

h4 {
  font-size: 1.25em;
  margin-top: 2em;
}

a {
  color: $color;
  // border-bottom: 1px solid $colorGrayLight;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  & img {
    border: 0;
  }
}

/* Layout */

.wrapper {
  margin: 0 auto;
  max-width: $wrapperWidth;
  padding: 3em 2em;
  overflow: auto;
  // border: 1px solid $colorGrayLightest;
  border-top: none;
}

.content {
  width: 100%;
  float: none;
  font-weight: 400;
}

.dregerbar {
  width: 100%;
  border-bottom: 3em solid $color;
  padding: .5em;
  text-align: center;
  font-family: $typeA;
  .header-nav {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
  }
  a {
    color: $colorGrayLight;
    padding: 0 .5em;
    letter-spacing: 1px;
    &:hover {
      color: $color;
      text-decoration: none;
      border-bottom: 5px solid $color;
    }
  }
}

.small-cap-title {
  border-top: 2px solid $colorGrayLightest;
  padding: .25em 0;
  font-size: .8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: $typeA;
  margin-bottom: 2em;
  color:$colorGrayLight;
}



.header {
  display: none;
  width: 100%;
  // @include gradient;
  color: #fff;
  float: none;
  padding: .5em 1em;
  margin-bottom: 0;
  text-align: left;
  font-family: $typeA;
  nav {
    @include smallCaps;
    @include colorlessLinks;
    text-transform: none;
    text-align: right;
    margin: 0;
    padding: 0;
    a {
      color: #fff;
      letter-spacing: 1px;
      margin: 0;
      margin-left: 1em;
      &:hover {
        color: #fff;
        border-bottom: 5px solid #fff;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
      padding: 0;
      display: inline;
      margin: 0;
    }
  }
}

.footer {
  font-family: $typeB;
  padding-top: 4em;
  margin: 4em 0 0;
  // border-top: dotted 1px $colorGrayLight;
  width: 100%;
  clear: both;
}


/* Archive page */

ol.archive {
  font-family: $typeB;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  li {
    text-align: left;
    display: block;
    list-style: none;
    padding: .5em 0;

    // font-size: 1em;
    margin: 0;
    // border-bottom: 2px solid $colorGrayLightest;
  }
  a {
    text-decoration: none;
    border-bottom: none;
    &:hover {
    }
  }
}
.archive-date {
  float: none;
  font-size: 1em;
  display: block;
  color: $colorGrayLight;
}

/* Titles and such */

.site-title {
  @include h2_style;
  font-size: $siteTitleSize;
  text-transform: lowercase;
  // margin-bottom: 1rem;
  font-family: inherit;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: 1px;
  a {
    color: $colorForHeadings;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

/* Article page */

.article-title {
  @include h2_style;
  font-size: $articleTitleSize;
  letter-spacing: 0px;
  font-weight: bold;
  a {
    color: $colorForHeadings;
    &:hover {
      text-decoration: none;
    }
  }
}
.article-meta {
  @include colorlessLinks;
  color: $colorGray;
  font-family: $typeB;
  @include smallCaps;
}

.article {
  padding: 0;
  text-align: left;
  p:first-child {
    margin-top: 0;
  }
}

/* Linklog */

.article-title-link {
  @extend .article-title;
  font-weight: bold;
  font-size: $linkTitleSize;
  a {
    line-height: $typeLineHeight;
    color: $color;
    line-height: 1.1em;
    &:hover {
      text-decoration: underline;
    }
    &:after {
      content: "\2192";
    }
  }
  .permalink {
    text-decoration: underline;
    margin-left: 1em;
  }
  .link-arrow {
    margin-left: .5em;
    display: none;
  }
}

img, blockquote, ul, ol, p {
  margin: 1.25em 0;
}

img {
  border-radius: 3px;
  display: block;
  height: auto;
  max-width: 100%;
}

small {
  display: block;
  font-size: .9em;
  font-style: italic;
  margin: 1rem auto;
  text-align: center;
  width: 100%;
}

blockquote {
  border-left: 5px solid $color;
  margin-left: 0;
  font-style: italic;
  padding: 0 1em;
  p:last-child {
    margin: 0;
    padding: 0;
  }
}

ul, ol {
  padding-left: 0rem;
}
ul {
  li {
    list-style: square;
    margin: .5em 0;
  }
}
ol {
  li {
    margin: .5em 0;
  }
}

pre {
  font-family: Menlo, Monaco, monospace;
  background-color: $colorGrayLightest;
  border: 1px solid $colorGrayLight;
  padding: 1em;
  code {
    border: none;
    padding: none;
  }
}

code {
  background-color: $colorGrayLightest;
  border: 1px solid $colorGrayLight;
  font-size: .9em;
  padding: 3px 5px;
  border-radius: 1em;
}

/* Misc styles */

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.separator {
  display: block;
  margin: 3em auto;
  font-size: .8em;
  text-align: center;
  color: $colorGray;
}

hr {
  border: solid $colorGrayLight;
  border-radius: 5px;
  border-width: 2px 0 0;
  clear: both;
  color: #fff;
  margin: 3em auto;
  height: 1px;
  max-width: 430px;
  width: 6em;
}


/* Media queries */

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .wrapper {
    margin-top: 0em;
    padding: 2em .5em;
    max-width: 500px;
  }
  .dregerbar {
    li:last-child {
      display: none;
    }
  }
  .header {
    margin: 2rem auto;
    border-bottom: 2px solid $colorGrayLight;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
    display: block;
    nav, p {
      display: none;
    }
  }
  .site-title {
    padding-bottom: 2rem;
    margin: 0;
  }
  .article-title {
    font-size: 2em;
  }
  .content {
    background-color: #fff;
    margin-top: 0;
    width: auto;
    float: none;
    padding: 1em;
    padding-top: 0;
  }
  .article-title {
    text-align: center;
  }
  .article {
    margin-bottom: 3em;
  }
  .separator {
    margin: 3em auto;
    width: 100%;
  }
}

