@import '_mixins';
@import '_colors';
@import '_typography';


/* Layout variables */
$wrapperWidth: 64rem;
$readingWrapperWidth: 48rem;
$largeImageWidth: 52rem;
$largeImageOffset: 11rem;
$largeImageOffset: ($largeImageWidth - $wrapperWidth) / 2 + 1rem;


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: $colorForBackground;
  color: $colorForBody;
  font-family: $typeB;
  font-size: $typeSize;
  line-height: $typeLineHeight;
}

h1, h2, h3, h4 {
  line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

h2 {
  @include h2_style;
}

h3 {
  font-size: 1.25em;
  margin: 1.8em 0em;
  font-family: $typeA;
  color: $colorForHeadings;
  font-weight: bold;
  text-transform: uppercase;
  border-left: 10px solid $colorGrayLight;
  padding: .5em 0 .5em 1em;
  line-height: 1em;
  letter-spacing: 1px;
  & + p {
    margin-top: .2em;
  }
}

h4 {
  font-size: 1.25em;
  margin-top: 2em;
}

a {
  color: $color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  & img {
    border: 0;
  }
}

/* Layout */

.wrapper {
  margin: 0 auto;
  max-width: $wrapperWidth;
  padding: 3em 2em;
  overflow: auto;
  border-top: none;
}

.content {
  width: 100%;
  float: none;
  font-weight: 400;
}

.dregerbar {
  width: 100%;
  border-bottom: 3em solid $color;
  padding: 3em 0;
  text-align: left;
  font-family: $typeA;
  .header-nav {
    margin: 0 auto;
    padding: 0 2em;
    max-width: $wrapperWidth;
  }
  li {
    display: inline;
    list-style-type: none;
  }
  a {
    font-size: $siteTitleSize;
    color: $colorGrayLight;
    margin-right: 1em;
    letter-spacing: 1px;
    &:hover {
      color: $color;
      text-decoration: none;
      border-bottom: 5px solid $color;
    }
  }
}

.reading-wrapper {
  @extend .wrapper;
  max-width: $readingWrapperWidth;
  padding-top: 3rem;
  .article-title {
    font-size: 3.25rem;
  }
  font-size: 1.4rem;
  line-height: $typeLineHeight;
}

.reading-dregerbar {
  @extend .dregerbar;
  padding: .5em 0;
  border-bottom: none;
  text-align: center;
  background-color: $colorForBody;
  a {
    font-size: 1rem;
    color: #fff;
  }
}

.small-cap-title {
  border-top: 3px solid $colorGrayLightest;
  padding: .25em 0;
  font-size: .8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: $typeA;
  margin-bottom: 2em;
  color:$colorGrayLight;
}

.column {
  // padding: 0 1em;
}

.left-column {
  max-width: 56%;
  float: left;
}

.right-column {
  max-width: 44%;
  float: right;
  padding-left: 4em;
}


/* Archive page */

ol.archive {
  font-family: $typeB;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  li {
    text-align: left;
    display: block;
    list-style: none;
    padding: .5em 0;

    // font-size: 1em;
    margin: 0;
    // border-bottom: 2px solid $colorGrayLightest;
  }
  a {
    text-decoration: none;
    border-bottom: none;
    &:hover {
    }
  }
}
.archive-date {
  float: none;
  font-size: 1em;
  display: block;
  color: $colorGrayLight;
}

.article {
  padding: 0;
  text-align: left;
  p:first-child {
    margin-top: 0;
  }
}

.article-link + .separator {
  margin: 1em 0;
}

img, blockquote, ul, ol, p {
  margin: 1.25em 0;
}

img {
  border-radius: 3px;
  display: block;
  height: auto;
  max-width: 100%;
}

small {
  display: block;
  font-size: .9em;
  font-style: italic;
  margin: 1rem auto;
  text-align: center;
  width: 100%;
}

blockquote {
  border-left: 5px solid $color;
  margin-left: 0;
  font-style: italic;
  padding: 0 1em;
  p:last-child {
    margin: 0;
    padding: 0;
  }
}

ul, ol {
  padding-left: 0rem;
}
ul {
  li {
    list-style: square;
    margin: .5em 0;
  }
}
ol {
  li {
    margin: .5em 0;
  }
}

pre {
  font-family: Menlo, Monaco, monospace;
  background-color: $colorGrayLightest;
  border: 1px solid $colorGrayLight;
  padding: 1em;
  code {
    border: none;
    padding: none;
  }
}

code {
  background-color: $colorGrayLightest;
  border: 1px solid $colorGrayLight;
  font-size: .9em;
  padding: 3px 5px;
  border-radius: 1em;
}

/* Misc styles */

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.separator {
  display: block;
  margin: 5em auto;
  text-align: left;
  color: $colorGray;
}

hr {
  border: solid $colorGrayLight;
  border-radius: 5px;
  border-width: 2px 0 0;
  clear: both;
  color: #fff;
  margin: 3em auto;
  height: 1px;
  max-width: 430px;
  width: 6em;
}


/* Media queries */

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .wrapper {
    margin-top: 0em;
    padding: 2em .5em;
    max-width: 500px;
  }
  .dregerbar {
    li:last-child {
      display: none;
    }
  }
  .header {
    margin: 2rem auto;
    border-bottom: 2px solid $colorGrayLight;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
    display: block;
    nav, p {
      display: none;
    }
  }
  .site-title {
    padding-bottom: 2rem;
    margin: 0;
  }
  .article-title {
    font-size: 2em;
  }
  .content {
    background-color: #fff;
    margin-top: 0;
    width: auto;
    float: none;
    padding: 1em;
    padding-top: 0;
  }
  .article-title {
    text-align: center;
  }
  .article {
    margin-bottom: 3em;
  }
  .separator {
    margin: 3em auto;
    width: 100%;
  }
}

