@charset "UTF-8";

:root {
  --accent: #2573DA;
  --accent: #FF1C52;
  --accent-yellow: #FFC200; // rgb(255,194,0)
  --accent: #222; 
  --text: rgba(0,0,0,.9);
  --faded: #f1f1f1; 
  --faded-text: #757575; 
  --bg: #F4F0EB; 
  --bg: #EBE7DD;
  --font-sans: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  --font-serif: "IBM Plex Serif", Charter, Georgia, serif;  
  --font-mono: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  --font-bold: 600; 
  --max-width-column:30rem;
  --max-width-nav: 240px; 
  --max-width: 36rem; 
  --padding: 3rem; 
}

::selection { background-color: var(--faded); }
* { box-sizing: border-box; } 
html { 
  font-size: 24px; 
}
a, a:hover, html { cursor: url(/images/cursor.png),auto; }
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  color: var(--text);
  font-family: var(--font-serif); 
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  // background: var(--faded);
  line-height: 1.4; 
  text-rendering: optimizeLegibility;
  // font-feature-settings: "liga","case","calt","ss01","locl";
}
h1,h2,h3,img,blockquote,ul,ol,p { margin: 0 0 1rem 0; }
code { font-family: var(--font); }
strong { font-weight: bold; }
h1, h2, h3 { 
  font-family: var(--font);
  font-weight: normal;
  line-height: 1.2; 
  font-family: var(--font-sans); 
}
h1 { 
  font-size: 2rem; 
  font-weight: var(--font-bold); 
}
h2 { 
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1.25rem; 
  font-weight: var(--font-bold);
}

ul { list-style: square; padding-left: 1.1rem; }
li { margin-bottom: .5rem; }
a {
  color: var(--text); 
  text-decoration: none; 
  border-bottom: 2px solid rgba(0,0,0,0.1);
}
a:hover { 
  border-color: var(--accent); 
  color: var(--accent); 
}


hr { margin: 3rem 0; height: 2px; background: var(--faded); border: 0; }

img {
  height: auto;
  display: block;
  margin: 1.5rem 0;
  border-radius: 2px; 
  width: 100%;
}

em img {
  // width: var(--max-width); 
  // margin-left: calc(-1 * var(--padding));
  border-radius: 0; 
  display: block; 
}


main {
  max-width: var(--max-width); 
  margin: 3rem auto;
  padding: 1rem; 
}
.header {
  max-width: var(--max-width); 
  margin: 0 auto; 
  border-radius: 0 0 10px 10px;
  margin-bottom: 4rem;
}

.column {
}

.post__title {
  margin-bottom: .5rem;
}
.post__meta {
  margin-bottom: 2rem; 
  font-size: 1rem;
  color: var(--faded-text); 
  // font-family: var(--font-mono); 
}
.post__author {
  margin: 0 0 2rem; 
  font-family: var(--font-sans); 
  font-weight: var(--font-bold);
  border: 0; 
  letter-spacing: .02em;
  max-width: 320px;
  display: flex; 
  text-transform: uppercase;
  align-items: center; 
  border-radius: 100px; 
  &:hover {
  	background-color: var(--faded); 
  }
}
.post__author__image {
  // filter: grayscale(100%);
  background-image: url(/images/kqd.png);
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-position: center; 
  width: 2.5rem; 
  height: 2.5rem; 
  border: solid 2px var(--faded); 
  margin: 0 .5rem 0 0; 
  background-color: var(--faded); 
  border-radius: 100px; 
}
.post_author__byline {

}

@media (max-width: 36rem) {
  main {
    margin: 0;
  }
}