@charset "UTF-8";

:root {
  --accent: #2573DA;
  --accent: #FF1C52;
  --accent-yellow: #FFC200; // rgb(255,194,0)
  --accent: #222; 
  --text-heading: rgba(0,0,0,.9);
  --text: rgba(0,0,0,.8);
  --faded: #f1f1f1; 
  --faded-text: #757575; 
  --bg: #EBE7DD;
  --bg: #fafafa; 
  --font: "Decimal A", "Decimal B", Verdana, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, serif; 
  --font-weight-bold: 700; 
  --font-weight-regular: 400; 
  --max-width-column: 30rem;
  --max-width-nav: 240px; 
  --max-width: 44rem; 
  --padding: 4rem; 
}

::selection { background-color: var(--faded); }
* { box-sizing: border-box; } 
html { 
  font-size: 28px; 
}
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  color: var(--text);
  background: var(--bg); 
  font-family: var(--font); 
  font-weight: var(--font-weight-regular);
  margin: 0 auto;
  padding: 0;
  line-height: 1.5; 
  text-rendering: optimizeLegibility;
}
h1,h2,h3,img,blockquote,ul,ol,p { margin: 0 0 1.5rem 0; }
code { font-family: var(--font); }
strong { font-weight: var(--font-weight-bold); }
h1, h2, h3 { 
  line-height: 1.25em; 
  font-weight: var(--font-weight-bold);
  color: var(--text-heading); 
}
h1 { 
  font-size: 1.563rem; 
  margin-bottom: .5rem;
  letter-spacing: -.01em;
}

ul { list-style: square; padding-left: 1.25rem; }
li { margin-bottom: .5rem; }
a {
  color: var(--text); 
  text-decoration: none; 
  border-bottom: 2px solid var(--accent-yellow);
}
a:hover { 
  border-color: var(--accent); 
  color: var(--accent); 
}



hr { margin: 2rem 0; height: 2px; background: var(--faded); border: 0; }



main {
  max-width: var(--max-width); 
  margin: 3rem auto;
  padding: var(--padding); 
}


@media (max-width: 52rem) {
  :root {
    --padding: 1rem; 
  }
  html { font-size: 18px; }
  main {
    margin: 0;
  }
}
