@charset "UTF-8";

:root {
  --accent: #2573DA;
  --accent: #FF1C52;
  --accent: #FFC200; // rgb(255,194,0)
  --accent: #222; 
  --text: rgba(0,0,0,.9);
  --faded: #f1f1f1; 
  --faded-text: #757575; 
  --bg: #F4F0EB; 
  --bg: #EBE7DD;
  --font-serif: 'IBM Plex Serif', 'Charter', 'Georgia', serif;
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-bold: bold; 
  --max-width-column:30rem;
  --max-width-nav: 240px; 
  --max-width: 34rem; 
  --padding: 3rem; 
}

::selection { background-color: var(--faded); }
* { box-sizing: border-box; }
html { font-size: 16px; }
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  color: var(--text);
  font-family: var(--font-serif); 
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  background: var(--faded);
  line-height: 1.4; 
  text-rendering: optimizeLegibility;
  // font-feature-settings: "liga","case","calt","ss01","locl";
}
h1,h2,h3,img,blockquote,ul,ol,p { margin: 0 0 1rem 0; }
code { font-family: var(--font); }
strong { font-weight: bold; }
h1, h2, h3 { 
  font-family: var(--font);
  font-weight: normal;
  line-height: 1.2; 
  font-family: var(--font-sans); 
}
h1 { 
  font-size: 1.7rem; 
  font-size: 2rem; 
  margin-bottom: 2rem;
}
h2 { 
  margin-top: 2.5rem;
  font-size: 1.25rem; 
  font-weight: bold;
}

ul { list-style: square; padding-left: 1.1rem; }
li { margin-bottom: .5rem; }
a {
  color: var(--text); 
  text-decoration: none; 
  border-bottom: 2px solid rgba(0,0,0,0.1);
}
a:hover { 
  border-color: var(--accent); 
  color: var(--accent); 
}


hr { margin: 3rem 0; height: 2px; background: var(--faded); border: 0; }

img {
  height: auto;
  display: block;
  margin: 1.5rem 0;
  border-radius: 2px; 
  width: 100%;
}

em img {
  width: var(--max-width); 
  margin-left: calc(-1 * var(--padding));
  border-radius: 0; 
  display: block; 
}

form { display: flex; }
input { width: 70%; margin-right: .5rem; }
button { width: 30%; }
input, button {
  border: solid 2px var(--faded); 
  font-size: .875rem; 
  padding: .5rem 1rem; 
  background: none; 
  line-height: 1;
  border-radius: 2px; 
  font-family: var(--font); 
}
input:focus { 
  border-color: var(--accent); 
  outline: none;
}
button {
  background: var(--accent);
  border-color: var(--accent); 
}

.article__title {
  margin-bottom: 2.5rem;
}
.article__meta {
  color: var(--faded-text);
  margin-bottom: .5rem;
  font-size: 1rem; 
}
.footer {
  font-size: .875rem; 
  padding-top: 2rem; 
  a { 
    color: var(--faded-text); 
  }
}
.wrapper {
  max-width: var(--max-width);
  margin: var(--padding) auto;
  border-radius: 4px; 
  padding: var(--padding) var(--padding) calc(var(--padding) - 1rem);
  background-color: white; 
}
.header {
  font-family: var(--font-sans); 
  margin-bottom: var(--padding);
  padding: 0 0 ;
  display: flex; 
  align-items: center; 
}

.header__logo {
  background-image:  url(/images/logo.svg);
  background-repeat: no-repeat;
  border-top: 0; 
  height: 30px;
  width: 150px;
  background-position: left;
  background-size: contain;
  text-indent: -1000em;
  display: block;
  margin: 0; 
  border: 0;
}

.nav {
  margin-left: auto; 
  background-color: var(--faded); 
  display: inline-block;
  border-radius: 100px; 
  font-size: .875rem; 
  padding: 4px;
  a {
    display: inline-block;
    border: 0; 
    border-radius: 100px; 
    padding: .25rem .75rem; 
    &:hover, &.active {
      background-color: var(--accent); 
      color: white; 
    }
  }
}

@media (max-width: 920px) {
  img { width: 100%; margin-left: 0; }
}

@media (max-width: 600px) { 
  html { font-size: 16px; }
  body { background-color: white; }
  .wrapper { 
    padding: 1.5rem 1.5rem 3rem; 
    margin: 0 auto;
  }
  em img {
    margin-left: 0; 
    width: 100%; 
    border-radius: 2px; 
  }
  form { 
    flex-direction: column; 
    width: 100%;
  }
  li { margin-bottom: .75rem; }
  input { 
    display: block; 
    max-width: 360px; 
    width: 100%;
    margin-right: 0; 
    margin-bottom: .5rem 
  }
  button { 
    max-width: 360px; 
    width: auto; 
  }
}

@media (max-width: 340px) {
    .header__logo {
      height: 25px;
      width: 125px; 
    }
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --text: rgba(255,255,255,.9); 
//     --bg: #1f2023; 
//     --faded: #383b40; 
//     --accent: rgba(255,194,0,.9); 
//   }
//   input { color: var(--text); }
// }
