/* 
    HTML RESET 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  padding-left: 30px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

em {
  font-style: italic; }

strong {
  font-style: bold; }

body {
  font-family: "proxima-nova", sans-serif;
  color: #4d4d4d;
  line-height: 1.533em;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
ul,
ol,
blockquote,
p {
  margin-bottom: 20px; }

h1,
h2,
h3,
h4 {
  line-height: 1.2em;
  font-weight: bold;
  color: #000;
  text-align: center; }
  h1 a,
  h2 a,
  h3 a,
  h4 a {
    color: #000; }

h1 {
  font-size: 200%;
  line-height: 1.1em;
  letter-spacing: -1px; }
  h1 a {
    text-decoration: none;
    font-weight: bold;
    border-bottom: none;
    position: relative; }
    h1 a:active {
      top: 1px; }

h2 {
  font-size: 180%;
  line-height: 1.1em; }
  h2 a {
    text-decoration: none;
    border-bottom: none; }

h3 {
  font-size: 120%; }
  h3.article-date {
    color: #cccccc; }
  h3 a {
    text-decoration: none; }

a {
  text-decoration: none;
  color: #000;
  border-bottom: solid 1px #cccccc;
  padding-bottom: 1px; }

.wrapper {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 10px; }

.header {
  font-family: "proxima-nova", sans-serif;
  padding: 0;
  font-weight: 300;
  padding: 80px 0px;
  width: 100%;
  margin: 0;
  background-color: #d95b43;
  text-align: center; }
  .header .logo a {
    border: none;
    text-decoration: none;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: url("../images/shard_white.png") center no-repeat;
    background-size: 100%; }
    .header .logo a:active {
      position: relative;
      top: 1px; }

.dreger_bar {
  max-width: 500px;
  width: 90%;
  padding: 0px;
  margin: 50px auto;
  text-align: center; }
  .dreger_bar h3 {
    font-weight: 100; }
  .dreger_bar .happy {
    /*float: left;*/
    margin: 0; }
  .dreger_bar .colophon {
    /*float: right;*/
    margin: 0; }

.content {
  width: 100%;
  margin-bottom: 100px; }
  .content img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block; }

.footer {
  width: 80%;
  margin: 50px auto; }

.about {
  padding: 10px 0px 30px 0px; }
  .about ul {
    padding: 0;
    margin: 0; }
  .about li {
    display: inline;
    padding-right: 15px; }

.archive_list ul {
  padding: 0;
  margin: 0px 0px 100px; }
  .archive_list ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #dddddd; }
    .archive_list ul li:last-child {
      border-bottom: none; }
    .archive_list ul li a {
      border: none;
      padding: 8px 5px;
      display: block; }
      .archive_list ul li a:hover {
        background-color: #f3cac2; }
      .archive_list ul li a .date {
        float: right; }

.article {
  margin-bottom: 120px; }
  .article h2 {
    margin-bottom: 6px; }
  .article img {
    max-width: 100%; }

.article-content a {
  color: #000;
  border-bottom: solid 1px #cccccc;
  padding-bottom: 1px; }

.page {
  margin: 30px 0px; }
  .page a {
    color: #000;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 1px; }

.footnotes {
  font-size: .8em;
  line-height: 1.5em;
  margin-top: 80px;
  border-top: 1px dashed #dddddd;
  padding-top: 20px; }

blockquote {
  border-left: 8px solid #d95b43;
  padding-left: 20px; }

ul {
  list-style: disc; }
  ul li {
    margin: 8px 0px; }

audio {
  margin: 10px 0px; }

pre {
  font-family: monospace;
  padding: 10px 0px 10px 30px;
  margin: 15px 0px;
  font-size: 1em;
  max-width: 100%;
  overflow: auto;
  background: #f8f8f8; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/*
    Media queries to 
    make content responsive
    to different screen sizes.

    Thanks @beep
*/
@media screen and (max-width: 600px) {
  body {
    font-family: 15px; }

  .wrapper {
    margin-top: 0px; }

  .archive_list {
    font-size: .8em; }

  .content {
    float: none;
    width: 100%; }

  .user_bar {
    float: none;
    width: 100%; } }
