@import "mixins/reset";  

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius; 
}

$text: #444;
$text_header: #222;
$gray: #ccc;
$color: #556270;
$color3: #D95B43;
$color2: #272b2e;
$highlight: lighten($color, 35%);
$highlight2: #F8FCC1;
$body_width: 500px; 
$dark_color: darken($color, 10%);
$type_body: "proxima-nova-soft", sans-serif; 

body { 
  font-family: $type_body; 
  color: $text;
  line-height: 1.533em;   
  font-size: 16px;
  font-weight: 400; 
  margin: 0px; 
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}    
h1,
h2, 
h3,
h4,
ul,
ol,
blockquote,
p { 
  margin-bottom: 20px; 
}
h1,
h2,
h3, 
h4 {
  line-height: 1.2em;
  font-weight: bold;
  color: #000;
  text-align: left;
  a {
    color: #000;
  }
}

h1 { 
  font-size: 200%; 
  line-height: 1.1em;
  letter-spacing: -1px;
  a {
    text-decoration: none;
    font-weight: bold;
    border-bottom: none;
    position: relative;
    &:active {
      top: 1px;
    }
  }
}
h2 { 
  font-size: 180%; 
  line-height: 1.1em;
  a {
    text-decoration: none;
    border-bottom: none;
  }
}
h3 { 
  &.article-date {
    color: $gray;
  }
  font-size: 120%;
  a {
    text-decoration: none;
  }
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: solid 1px $gray;
  padding-bottom: 1px;
}

.wrapper
{
  max-width: $body_width;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.header { 
  font-family: $type_body;
  padding: 0;
  font-weight: 300;
  padding: 80px 0px;
  width: 100%;
  margin: 0;
  background-color: $color;
  text-align: center;
  .logo {
    a {
      border: none;
      text-decoration: none;
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 auto; 
      background: url('../images/shard_white.png') center no-repeat;
      background-size: 100%; 
      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}

.dreger_bar {
  max-width: $body_width;
  width: 90%;
  padding: 0px;
  margin: 50px auto;
  text-align: right;
  h3 {
    font-weight: 100;
  }
  .happy {
    /*float: left;*/
    margin: 0;
  }
  .colophon {
    /*float: right;*/
    margin: 0;
  }
}

.content {
  width: 100%;
  margin-bottom: 100px;
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.footer {
  width: 80%;
  margin: 50px auto;
}

.about {
  padding: 10px 0px 30px 0px;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    padding-right: 15px;
  } 
}

.archive_list {
  ul {
    padding: 0;
    margin: 0px 0px 100px;
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }
      a {
        border: none;
        padding: 8px 5px;
        display: block;
        &:hover {
          background-color: lighten($color, 30%); 
        }
        .date {
          float: right;
        }
      }
    }
  }
}

.article {
  h2 {
    margin-bottom: 6px;
  }
  img { 
    max-width: 100%;
  }
  margin-bottom: 120px;
}

.article-content {
  a {
    color: #000;
    border-bottom: solid 1px $gray;
    padding-bottom: 1px;
  }
}

.page {
  margin: 30px 0px;
  a {
    color: #000;
    border-bottom: solid 1px $gray;
    padding-bottom: 1px;
  }
}

.footnotes {
  font-size: .8em;
  line-height: 1.5em;
  margin-top: 80px;
  border-top: 1px dashed #ddd;
  padding-top: 20px;
}

blockquote {
  border-left: 8px solid $color;
  padding-left: 20px;
}
ul {
  list-style: disc;
  li {
    margin: 8px 0px;
  }
}
audio {
  margin: 10px 0px;
}
pre {
  font-family: monospace;
  padding: 10px 0px 10px 30px;
  margin: 15px 0px;
  font-size: 1em;
  max-width: 100%;
  overflow: auto;
  background: #f8f8f8;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
/*
    Media queries to 
    make content responsive
    to different screen sizes.

    Thanks @beep
*/

@media screen and (max-width: 600px) {
  body {
    font-family: 15px;
  }
  .wrapper {
    margin-top: 0px;
  }
  .header {
  }
  .archive_list {
    font-size: .8em;
  }
  .content {
    float: none;
    width: 100%;
  }
  .user_bar {
    float: none;
    width: 100%;  
  }
}