@import "mixins/reset";  

$text: #3a3a3a;
$highlight: #F8FCC1;
$gray: #ccc;
$blue: #4A1063;
$pink: #ff0050; 
$green: #6E9B4B;
$color: #00aced; 
$purple: #272B2E;
$dark_color: darken($color, 10%);
$type_body: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$type_header: source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif; 

body { 
  font-family: $type_body; 
  color: $text;
  line-height: 1.6em;   
  font-size: 11px;
  font-weight: 400; 
  margin: 0px 0px 50px; 
  padding: 0;
  background: #fff;
}  
h1,
h2, 
h3,
h4,
ul,
ol,
blockquote,
p { 
  margin-bottom: 1.5em; 
}
h1,
h2,
h3 {
  line-height: 1.2em;
  font-weight: bold;
  a {
    color: #000;
  }
}

h1 { 
  font-size: 200%; 
  letter-spacing: -1px;
  a {
    text-decoration: none;
    font-weight: bold;
    border-bottom: none;
    position: relative;
    &:active {
      top: 1px;
    }
  }
}
h2 { 
  font-size: 160%; 
  a {
    text-decoration: none;
    border-bottom: none;
  }
}
h3 { 
  font-size: 120%;
  a {
    text-decoration: none;
  }
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: solid 1px $gray;
  padding-bottom: 1px;
}

.wrapper
{
  max-width: 610px;
  width: 90%;
  margin: 100px auto;
  padding: 10px;
}

.header { 
  font-family: $type_body;
  padding: 0;
  font-weight: 300;
  width: 100%;
  margin: 0px 0px 70px ;
  .logo {
    a {
      border: none;
      text-decoration: none;
      display: block;
      width: 100px;
      height: 100px;
      background: url('../images/dash.png')  left center no-repeat;
      background-size: 30px;
      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
  h1 {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5em; 
    .c1 { color: #CC0C39; }
    .c2 { color: #E6781E; }
    .c3 { color: #C8CF02; }
    .c4 { color: #1693A7; }
  }
  .date {
    padding: 5px;
    background-color: $highlight;
    border-radius: 3px;
  }
}

.content {
  width: 70%;
  float: right;
  margin-bottom: 100px;
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.footer {
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

.about {
  padding: 10px 0px 30px 0px;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    padding-right: 15px;
  } 
}

.archive_list {
  ul {
    padding: 0;
    margin: 0px 0px 100px;
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }
      a {
        border: none;
        padding: 8px 5px;
        display: block;
        &:hover {
          background-color: $highlight;
        }
        .date {
          float: right;
        }
      }
    }
  }
}

.user_bar {
  width: 20%;
  float: left;
  margin: 0px 0px 100px;
  padding: 0;
  text-align: left;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none; 
      a {
        border-bottom: none;
        &:hover {
          color: $color;
        }
      }
    }
  }
}

.article {
  img { 
    max-width: 100%;
  }
  margin-bottom: 120px;
}

.article-content {
  a {
    color: #000;
    border-bottom: solid 1px $gray;
    padding-bottom: 1px;
    &:hover {
      color: $pink;
    }
  }
}

.page {
  margin: 30px 0px;
  a {
    color: #000;
    border-bottom: solid 1px $gray;
    padding-bottom: 1px;
    &:hover {
      color: $pink;
    }
  }
}

.meta {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: $type_header;
  text-align: center;
  font-size: .8em;
  font-weight: 200;
  color: #aaa;
}

.footnotes {
  font-size: .8em;
  line-height: 1.5em;
  margin-top: 80px;
  border-top: 1px dashed #ddd;
  padding-top: 20px;
}

blockquote {
  border-left: 7px solid $color;
  padding-left: 15px;
  font-style: italic;
}
ul {
  list-style: disc;
  li {
    margin: 8px 0px;
  }
}
audio {
  margin: 10px 0px;
}
pre {
  font-family: monospace;
  padding: 10px 0px 10px 30px;
  margin: 15px 0px;
  font-size: 1em;
  max-width: 100%;
  overflow: auto;
  background: #f8f8f8;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
/*
    Media queries to 
    make content responsive
    to different screen sizes.

    Thanks @beep
*/

@media screen and (max-width: 600px) {
  body {
    font-family: 15px;
  }
  .wrapper {
    margin-top: 0px;
  }
  .header {
    margin-top: 30px;
  }
  .content {
    float: none;
    width: 100%;
  }
  .user_bar {
    float: none;
    width: 100%;  
  }
}