---
---

$max-width: 30rem;
$color: #4285f4;
$line-height: 1.45rem;
$sans: Futura, Gill Sans;

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  font-size: 15px;
}
body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: Georgia;
    padding: 0;
    color: #3a3a3a;
    font-weight: normal;
    font-style: normal;
    line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  font-family: $sans;
}

h1 {
  font-size: 1.35rem;
  font-weight: normal;
  line-height: 1em;
  a { font-weight: normal; }
}
h2 {
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1.2em;
}
h3 {
  font-weight: normal;
  display: inline-block;
  font-size: 1rem;
  border-bottom: dotted 1px #aaa;
  margin-bottom: .5rem;
}

p {
  margin: 0 0 1rem 0;
}

.wrapper {
  max-width: $max-width;
  margin: 1rem auto;
  padding: 0 1rem;
}

.footer {
  font-size: .86rem;
  line-height: $line-height;
  font-family: $sans;
}

.post-title {
  margin-bottom: .5rem;
}

.post-meta {
  color: #aaa;
  line-height: 1.25em;
  a {
    color: #aaa;
  }
}

blockquote {
  margin: 0 0 1rem 1rem;
  font-style: italic;
}

blockquote p:last-child { margin-bottom: 0; }

hr {
  width: 100%;
  margin: 1.75rem 0;
  border: none;
  height: 0px;
  border-bottom: 1px solid #ccc;
}

del, del a {
  color: #aaa;
}

a {
  color: $color;
  &:visited { color: #6A1B9A; }
}

img {
  max-width: $max-width;
  border: solid 1px transparent;
  cursor: pointer;
  &:hover {
    border: $color 1px solid;
  }
}

em img {
  max-width: $max-width + 4rem;
  margin-left: -2rem;
}

ul, ol {
  padding-left: 1.25rem;
}

.big {
  max-width: $max-width + 22rem;
  margin-left: -11rem;
}

.link {
  color: $color;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: $max-width + 22rem) {
 	html { font-size: 17px; }
  em img, .big {
    margin-left: 0;
    max-width: 100%;
  }
}
