---
---

$max-width: 30rem;
$color: #79BD9A;
$line-height: 1.45em;
$sans: "Roboto", "Noto Sans", "Open Sans";

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  font-size: 17px;
}
body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: $sans;
    padding: 0;
    color: #3a3a3a;
    font-weight: normal;
    font-style: normal;
    line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 1.75rem;
  line-height: 1em;
  a { font-weight: normal; }
}
h2 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: .25rem; 
  line-height: 1.1em;
  a { text-decoration: none; }
}
h3 {
  font-weight: normal;
  display: inline-block;
  font-size: 1rem;
  border-bottom: solid 1px #aaa;
  margin-bottom: .5rem;
}

p {
  margin: 0 0 1rem 0;
}


a {
  color: $color;
//   &:visited { color: #6A1B9A; }
}

blockquote {
  margin: 0 0 1rem;
  border-bottom: solid 3px #ccc; 
  padding-left: 1rem; 
  font-size: .9rem; 
  line-height: $line-height; 
  background: #f2f2f2; 
  padding: 1rem;
}

blockquote p:last-child { margin-bottom: 0; }

hr {
  width: 100%;
  margin: 1.75rem 0;
  border: none;
  height: 0px;
  border-bottom: 1px solid #ccc; 
}


del, del a {
  color: #aaa;
}


img {
  width: 100%; 
}

em img {
  width: $max-width + 18rem;
  margin-left: -9rem;
}

ul, ol {
  padding-left: 1.25rem;
}

li { margin-bottom: .25rem; }

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem;
}

.site-header-wrapper {
  background: #fbfbfb; 
  border-bottom: solid 1px #f2f2f2; 
}

.site-header {
  max-width: $max-width;
  margin: 0 auto;
  padding: .5rem 1rem; 
}

.site-header-title {
  font-family: $sans;
  font-size: 1rem; 
  margin: 0; 
  padding: 0; 
  line-height: 1em; 
  a { 
    text-decoration: none; 
    &:hover { text-decoration: underline; }
  }
}

.footer {
  font-size: .86rem;
  line-height: $line-height;
  font-family: $sans;
}

.post-title {
  margin-bottom: .25rem;
}

.post-meta {
  color: #aaa;
  line-height: 1.25em;
  a {
    color: #aaa;
  }
}

.thick {
  height: 2px; 
  background: #eee; 
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc; 
}


.link {
  color: $color;
  text-decoration: underline;
  cursor: pointer;
}

.post-navigation {
  margin: 4rem 0; 
  max-width: 80%;
}

.post-navigation-row {
  display: table-row;	
	font-size: .9rem;
	line-height: $line-height;
}

.post-navigation-title {
  padding-right: 1rem;
	text-align: right; 
}

.post-navigation-title,  
.post-navigation-link {
  display: table-cell;	
}

@media (max-width: $max-width + 22rem) {
 	html { font-size: 17px; }
 	.site-header {
 	  padding: 1rem; 
 	}
  em img, img, .big {
    margin-left: 0;
    max-width: 100%;
  }
}
