* {
  margin: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Typography */
body {
  -webkit-font-smoothing: antialiased;
  font-family: ff-tisa-web-pro, sans-serif, sans;
  font-size: 18px;
  line-height: 1.6em;
  color: #4d4d4d; }

h1, h2, h3, h4 {
  line-height: 1.1em;
  font-family: nudista-web, serif; }

h1 {
  font-size: 2em;
  font-weight: 900; }
  h1 a {
    border-bottom: none; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.4em;
  margin: 1.5em 0em;
  text-transform: uppercase; }

h4 {
  font-size: 1.2em;
  text-transform: uppercase; }

p, ul, li {
  margin-top: 2em; }

small, .small {
  font-size: 1em; }

/* Colors */
body {
  color: #444;
  background-color: #fff; }

a {
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid #cacaca;
  padding-bottom: -2px; }

a:hover {
  color: #00cccc; }

/* Layout */
img {
  display: block;
  width: 100%;
  border-radius: 3px; }

small {
  font-size: .9em;
  font-style: italic;
  text-align: center;
  display: block;
  width: 100%;
  margin: 1rem auto; }

.list {
  clear: both;
  font-family: nudista-web, serif;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 900; }
  .list a {
    border-bottom: none; }
  .list ul {
    margin: 0;
    padding: 0; }
    .list ul li {
      margin: .5em 0em;
      list-style: none; }
      .list ul li a {
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        padding: .5em;
        background-color: #eeeeee;
        display: inline-block; }
        .list ul li a:hover {
          background-color: #eeeeee;
          padding-left: 1em; }
      .list ul li:first-child {
        margin-top: 0; }

.wrapper {
  max-width: 45rem;
  padding: 5%;
  padding-bottom: 0;
  margin: 0 auto; }

header {
  border-top: none;
  margin-bottom: 2.5em;
  color: #eee; }

.big {
  font-size: 3.5em;
  font-weight: 900;
  font-weight: 900;
  color: #00cccc;
  text-transform: uppercase;
  letter-spacing: -2px; }

.date {
  color: #cacaca; }

.right {
  text-align: right; }

hr.line {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(190, 190, 190, 0.75), rgba(190, 190, 190, 0));
  background-image: -moz-linear-gradient(left, rgba(190, 190, 190, 0.75), rgba(190, 190, 190, 0));
  background-image: -ms-linear-gradient(left, rgba(190, 190, 190, 0.75), rgba(190, 190, 190, 0));
  background-image: -o-linear-gradient(left, rgba(190, 190, 190, 0.75), rgba(190, 190, 190, 0));
  margin: 2.5em 0em; }

.footer {
  text-align: center;
  margin: 3.5em 0em;
  width: 100%; }

.article p, .article blockquote, .article ul {
  margin: 1.5rem 0rem; }
.article p:first-child {
  padding-top: 0;
  margin-top: 0; }
.article blockquote {
  border-left: 1px solid #cacaca;
  padding: 10px 0px 10px 20px;
  color: #777;
  margin-left: 1.5em; }
  .article blockquote p:last-child {
    padding: 0;
    margin: 0; }

ul {
  padding-left: 1.5rem; }
  ul li {
    margin: 8px 0px; }

pre {
  padding: 20px;
  background-color: #eee;
  border: solid 3px #ddd; }
  pre code {
    border: none;
    padding: none; }

code {
  padding: 1px 5px;
  border: 2px solid #ddd;
  background-color: #eee; }

/*
    Build a responsive web.
    Thanks @beep

    Grid thanks to 
    http://jxnblk.com/
    The dude's a rockstar
*/
/* Desktop Grid */
@media screen and (min-width: 768px) {
  .post-date {
    display: none; }

  .row:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden; }

  .col {
    float: left;
    width: 30%;
    margin-right: 5%; }

  .col:nth-child(3) {
    margin-right: 0; } }
@media screen and (max-width: 768px) {
  body {
    font-size: 16px; }

  .post-date {
    display: none; }

  .title {
    margin-top: 2em; } }
