* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: open-sans, "Avenir Next", sans-serif, sans;
  font-size: 15px;
  line-height: 1.53em;
  color: #333333;
  background-color: #FDFDFD;
  font-weight: 400; }

h1, h2, h3, h4 {
  line-height: 1em;
  font-family: open-sans, "Avenir Next", sans-serif;
  font-weight: bold; }
  h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
    color: #222; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.4em;
  margin: 1.5em 0 0; }
  h3 + p {
    margin-top: .2em; }

h4 {
  font-size: 1.1em;
  text-transform: uppercase; }

p, blockquote, ul {
  margin: 1.2em 0; }

a {
  color: #996078;
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease; }
  a:hover {
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    color: #222; }

ol.index {
  font-family: open-sans, "Avenir Next", sans-serif; }
  ol.index li {
    list-style: square;
    color: #cccccc; }

img {
  display: block;
  max-width: 100%;
  border-radius: 0px;
  height: auto !important; }

small {
  font-size: .9em;
  font-style: italic;
  text-align: center;
  display: block;
  width: 100%;
  margin: 1rem auto; }

.wrapper {
  max-width: 36rem;
  padding: 0 5%;
  padding-bottom: 0;
  margin: 0 auto;
  margin-top: 6em; }

header {
  border-top: none;
  margin: 0 auto 3.5em;
  text-align: left;
  font-family: open-sans, "Avenir Next", sans-serif; }

.profile {
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  font-size: .75em;
  letter-spacing: 1px;
  display: inline-block;
  border: solid 1px #ddd;
  padding: .5em 1em;
  color: #aaa;
  text-decoration: none; }
  .profile:hover {
    background-color: #996078;
    color: #fff;
    border: solid 1px #996078; }

.date {
  color: #cccccc;
  font-weight: bold;
  font-family: open-sans, "Avenir Next", sans-serif; }

.right {
  text-align: right; }

.footer {
  text-align: center;
  margin: 4em 0em;
  width: 100%; }

.article-title {
  text-align: left;
  color: #222222; }
  .article-title + p {
    margin-top: .2em; }

.article {
  margin-bottom: 5em; }
  .article p:first-child {
    padding-top: 0;
    margin-top: 0; }

blockquote {
  border-left: 1px solid #cccccc;
  padding: 10px 0 10px 15px;
  color: #777;
  margin-left: 0; }
  blockquote p:last-child {
    padding: 0;
    margin: 0; }

ul, ol {
  padding-left: 1.5rem; }
  ul li, ol li {
    margin: 8px 0px;
    list-style: square; }

pre {
  padding: 20px;
  background-color: #eee;
  border: solid 2px #ddd; }
  pre code {
    border: none;
    padding: none; }

code {
  padding: 1px 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  font-size: .8em; }
