{{ define "main" }}

	<figure class="headshot">
	  <img class="shadow" alt="my face #vscogirl" src="/images/kqd.png"  />
	  <figcaption>My face.</figcaption>
	</figure>

  {{ .Content }}


  <div class="icons">
	<a class="icon" href="https://audacious.blog">
		<span class="shadow icon__image icon__image--af"></span>
		<span class="icon__text">Audacious, my blog</span>
	</a>

	<a class="icon" href="/edit">
		<span class="shadow icon__image icon__image--edit"></span>
		<span class="icon__text">Edit, my app</span>
	</a>
</div>

{{ end }} 
