---
---

@import "normalize";
@import "mixins";
@import "pygments";
@import "variables";

// Typography

h1, h2, h3, h4, h5, h6, p, blockquote, pre, audio, .gist {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6, .article-meta {
  line-height: 1.1em;
  font-family: $sans;
  a {
    text-decoration: none;
    border: none;
    color: $color_header;
  }
}

h1 {
  font-size: $h1-size;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: $h2-size;
  margin: 1.5rem 0 .5rem;
  font-weight: normal;
  font-style: italic;
}

h3 {
  font-size: $h3-size;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 2rem 0 .25rem;
}

.small-caps {
  font-variant: small-caps;
  font-size: 1.2rem;
}

.site-title {
  font-size: 1rem;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: $color_header;
}

.archives {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 1rem 0;
  }
}

.date {
  color: $color_faded_lightest;
  border: none;
  text-align: left;
  padding: 0;
  font-size: .85rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.archives-link {
  margin: 4rem 0 -5rem;
  text-align: center;
  font-style: italic;
  // border: 2px solid $color_faded_single_line;
  padding: 2rem;
}

a {
  color: $color_accent;
  text-decoration: none;
  border-bottom: 2pt solid $color_faded_lightest;
  padding-bottom: -1px;
  &:hover {
    background-color: $color_faded_single_line;
  }
}

// Layout styles

html {
  font-size: $font-size;
}

body {
  line-height: $line-height;
  background-color: $color_background;
  color: $color_copy;
  font-family: $sans;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

.wrapper {
  @extend %container-padding;
  margin: 0 auto;
  padding-top: $wrapper-padding;
  article:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

.header {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: normal;
  text-align: left;
  padding: 2rem 1rem;
  a { border: none; }
}

.nav {
  @include colorless-links($color_faded_light);
    margin: 0;
    padding: 0;
    margin-top: .25rem;
    font-size: 1rem;
    li {
      list-style: none;
      display: inline;
      margin-right: 1rem;
    }
}

article {
  padding-top: 5rem;
  margin: 0;
  p:first-child {
    margin-top: 0;
  }

  // .post-title { font-size: 1.8rem; }

  .link_title {
    font-size: 1.1rem;
    font-style: normal;
    margin: 1rem 0;
    a { border-bottom: 2pt solid $color_faded_single_line; }
  }
}

.permalink {
  margin-left: .5rem;
  font-weight: 100;
  font-size: 1.1rem;
}

.footer {
  border-top: 2pt solid $color_faded_single_line;
  padding: $wrapper-padding 0;
  text-align: left;
  text-align: center;
  font-size: .85rem;
  line-height: .85rem;
  margin-top: 5rem;
  p:first-child{
    margin-top: 0;
  }
}

// Misc styles

.button {
  background-color: #0074D9;
  padding: 1rem 2rem;
  border-bottom: 5px solid darken(#0074D9, 10%);
  display: block;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 3px;
  margin: 2rem auto;
  text-align: center;
  max-width: 70%;
  &:hover {
    background-color: lighten(#0074D9, 5%);
  }
  &:active {
    background-color: darken(#0074D9, 10%);
  }
}

.date-divider {
  margin: 4rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .9rem;
}

blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid $color_faded_single_line;
}

img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  -moz-box-shadow:     0 5px 10px #444;
   -webkit-box-shadow:  0 5px 10px #444;
   box-shadow:          0 5px 10px #444;
}

strong > img {
  @extend %image-width;
}
em > img {
  @extend %image-width;
  box-shadow: none;
}

figcaption {
  margin: -1.5rem 0 1.5rem;
  text-align: center;
  font-style: italic;
  font-size: .9rem;
}

.archives-date {
  display: block;
  font-size: .85rem;
  color: $color_faded_lightest;
}

hr {
  border: solid $color_faded_single_line;
  border-width: 4px 0 0;
  clear: both;
  margin: 2rem auto;
  width: 60%;
  height: 1px;
  border-radius: 5px;
  color: $color_faded_single_line;
}

del {
  color: $color_faded_lightest;
}

.center {
  text-align: center;
}

// Media queries

@media (max-width: 1020px) {
  strong > img, em > img {
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
  .header {
    padding: 1rem;
    text-align: left;
    border-bottom: 2pt solid $color_faded_single_line;
  }
  .nav {
    margin-top: .5rem;
  }

  .article {
    padding-top: 3rem;
  }

  .wrapper {
    padding: 0 1rem 2rem 1rem;
  }

  .footer {
    padding: 1rem;
  }
}
