---
layout: default
title: Front Page
---

{% for post in site.posts limit: 15 %}
<article>
<aside>&#9679;</aside>

{% if post.category == 'post' %}
	<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	{{ post.content | strip_html | truncatewords: 40 }}

{% elsif post.category == 'link' %}
	<span class="snippet">{{ post.content | strip_newlines }}</span>
	<span class="source-information">via {{ post.source-author }} / <a href="{{ post.source-link }}">{{ post.source }} &rarr;</a></span>

{% endif %}

</article>
{% endfor %}


