---
layout: default
---
<section class="frontpage">
  <ul class="archives">

    {% for post in site.posts %}
    {% capture currentdate %}{{post.date | date: "%B %Y"}}{% endcapture %}
    {% if currentdate != thedate %}
    <li class="date"><time>{{currentdate}}</time></li>
    {% capture thedate %}{{currentdate}}{% endcapture %}
    {% endif %}

    <li><a href="{{ post.url }}">{{ post.title }}</a> <!-- <br><span class="faded"> {{ post.date | date: "%b %d, %Y" }}</span></li> -->
    {% endfor %}
  </ul>
</section>
