---
layout: default
---
{% for post in site.posts limit:1 %}
<section class="small-cap-title">Latest post &middot; <script>document.write(readingTime({{ post.content | number_of_words }}))</script> min read</section>
<article class="article">
  {% if post.link %}
  <h2 class="article-title-link"><a href="{{ post.link }}">{{ post.title }} <span class="link-arrow">&rarr;</span></a></h2>
  {% else %}
  <h2 class="article-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {% endif %}
  {{ post.content }}
  <!-- <p class="article-meta"><a href="{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></p> -->
</article>
{% endfor %}

<div class="separator">&#215; &nbsp;&nbsp; &#215; &nbsp;&nbsp; &#215;</div>

<section class="small-cap-title">Read this next</section>
{% for post in site.posts offset:1 limit:5 %}
<article class="article">
  {% if post.link %}
  <h2 class="article-title-link"><a href="{{ post.link }}">{{ post.title }} <span class="link-arrow">&rarr;</span></a></h2>
  {% else %}
  <h2 class="article-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {% endif %}
  <!-- <p class="reading-time"><script>document.write(readingTime({{ post.content | number_of_words }}))</script> min reading time</p> -->
  {{ post.content }}
  <p class="article-meta"><a href="{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></p>
</article>
<div class="separator">&#215; &nbsp;&nbsp; &#215; &nbsp;&nbsp; &#215; &nbsp;&nbsp; &#215; &nbsp;&nbsp; &#215;</div>
{% endfor %}