<!doctype html>
<html lang="en">
{% include head.html %}
<body>

  {% include header.html %}
  
  <section class="wrapper">
    <section class="content">
    {% for post in site.posts limit:3 %}
      <section class="article">
        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2> 
        <h3 class="article-date">Posted {{ post.date | date: "%B %d, %Y" }}</h3>
        <section class="article-content">
        {{ post.content }}
        </section>
        <!-- end article-content -->
      </section>
    {% endfor %}
    </section>
  </section>
</body>
</html>