<!doctype html>
<!-- Welcome to my weblog, source code viewers. -->
<html lang="en">
{% include head.html %}
<body>

  <section class="wrapper">
    {% include header.html %}

    <section class="content">
    
    <!-- ALL THE POSTS! -->
    <section class="article-list">  
    <ul>
    {% for post in site.posts %}
      <li>
        <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3> 
        <span class="meta">{{ post.date | date: "%B %d, %Y" }}</span>
      </li>
    {% endfor %}
    </ul>
    </section>
  </section>

  {% include js.html %}
</body>
</html>