<!DOCTYPE html>
<!--
    Hi :)
-->
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta content="en-us" http-equiv="Content-Language" />
        <meta name="author" content="Kyle Dreger" />
        <meta name="description" content="Kyle Dreger makes beautiful software, crafts webpages from pixels and writes. He also likes tea." />
        <link rel="icon" href="/favicon.ico">
        <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <meta name = "viewport" content = "width=device-width">

        
        {% include typekit.html %}
        {% include analytics.html %}
    </head>

    <body>
        <div class="wrapper">
            <div class="header">
                <a href="/"><img src="/img/kd.png"></a>
            </div>

            <div class="content">
                {{ content }}
            </div> <!-- / content -->

            <div class="about">
                <p>By Kyle Dreger</p>
                <p><a href="/about">About</a> - <a href="/archive">Archives</a> - <a href="/contact">Say hello</a></p>

                <p>You should follow me on <a href="https://twitter.com/kyledreger">Twitter</a></p>
            </div>

        </div> <!-- / wrapper -->
    </body>
</html>