<!doctype html>
<html lang="en">
  <head>
    <title>
      {% if page.categories contains "snippets" %}
      {{ site.title }}: "{{ page.content | strip_html | truncate: 200 }}"
      {% else %}
      {{ site.title }}{% if page.title %}: {{ page.title }}{% else %}{% endif %}
      {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="Description" content="{{ content | strip_html | truncatewords: 30 }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:url" content="{{ page.url }}"/>
    <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <link rel="apple-touch-icon" href="/assets/images/icon.png" />
    <link rel="stylesheet" href="/assets/css/audacious.css?v=1">
    <link rel="alternate" type="application/rss+xml" href="/feeds/main.xml" />

  </head>
  <body>  
    <section class="wrapper">
      <!-- <a class="header-link" href="/">home</a> -->
        <!-- <header class="header">
        </header> -->
        <section class="content">
          {{ content }}
        </section>
    </section>
    
    <footer id="footer" class="footer">
      Happy <span id="today"></span>
    </footer>
    
    
    <script type="text/javascript">    
      // Happy Day!
      var days = [ 
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ];
      var currentDate = new Date();
      var today = days[currentDate.getDay()]
      document.getElementById("today").innerHTML = today;
      
      // Random Smiley in Footer
      var grins = [ 
        "Hard things are hard.",
        "Diction, energy, honesty.",
        "",
        ":P",
        "<3",
        ":D"
      ];
      var selectedGrin = grins[Math.floor(Math.random()*grins.length)];
      document.getElementById("footer").innerHTML = "Happy " + today;
    </script>
  </body>
</html>
