---
layout: minimal
---
{% capture titleize %}
{% assign words = page.title | split: ' ' %}
{% if words.size < 2 %}
{{ page.title }}
{% else %}
{% for word in words %}{% if forloop.last %}&nbsp;{{ word }}{% else %} {{ word }}{% endif %}{% endfor %}
{% endif %}
{% endcapture %}

<p><a href="/index2.html">&larr; Back to index</a></p>
<p>Hi. All my current writing is over at <a href="https://audaciousfox.net">Audacious Fox</a>, and I'd love to show you around. Thanks for reading.</p>
  
<br>

<article>
  <header>  
    <h1>{{ titleize }}</h1>
    <p>{{ page.date | date: "%A, %B %e, %Y" }}</p>
    {% if page.link %}
      <p>Link: <a class="external" href="{{ page.link }}">{{ page.link }}</a></p>
    {% endif %}
  </header>
  
  {{ page.content }}
</article>

