<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	body
	{
		background: #242424;
		color: #eee;
		width: 600px;
		margin: 75px auto;
		font-size: 2em;
		font-family: Georgia, sans-serif;
	}
	a
	{
		text-decoration: underline;
		color: #fff;
	}
</style>
<title>Kyle Dreger - Stop SOPA / PIPA</title>
</head>
<body>
	<p>Hi, I'm Kyle Dreger. My blog is joining the likes of <a href="https://www.google.com/landing/takeaction/">Google</a> and <a href="http://en.wikipedia.org/wiki/Wikipedia:SOPA_initiative/Learn_more">Wikipedia</a> and going dark for 24 hours to protest the SOPA / PIPA legislation. As Google states, "End Piracy, Not Liberty".</p>

	<p>For more information on how you can help fight these bills, I've linked to both Google and Wikipedia's portals for information including a way to look up your local representitave. Take a stance and let's keep the Internet free.</p>
</body>
</html>