<!doctype html>
<html lang="en">
  <head>
    <title>
    {{ site.title }}{% if page.title %}: {{ page.title }}{% else %}{% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="Description" content="{{ content | strip_html | truncatewords: 30 }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png" />
    <link rel="alternate" type="application/atom+xml" title="kyledreger.com" href="/feeds/main.xml" />
<!-- 
    <script src="//use.typekit.net/oiu6ssi.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
 -->
    
    <style>
      body {
        max-width: 32rem; 
        line-height: 1.4em; 
      }
    </style>
  </head>
  <body>
    <section class="wrapper">
      {{ content }}
    </section>
  </body>
</html>


