/* Colors */
$color: #6a3;
$color: #ff0050;
$color: #096ac5;
$color: #222;
$colorForBackground: #f3f3f3;
$colorForBackground: #fff;
$colorForBody: #2a2a2a;
$colorForHeadings: #333;
$colorGray: #a0a0a0;
$colorGrayLight: #cdcdcd;
$colorGrayLightest: #eee;