@import '_normalize';
@import '_pygments';

$page_width: 34rem;
$page_margin: 0 auto;
$page_padding: 2rem 1rem;
$header_footer_margin: 3rem;

$color_copy: #222;
$color_accent: #ff0050;
$color_faded: #ccc;
$color_faded_blue: #f1f3f6;

$font_size: 18px;
$sans: "Avenir Next", Helvetica Neue, Segoe UI, sans;
$serif: $sans, Georgia, Times, serif;

/*
  Typography styles
*/

h1, h2, h3, h4, h5, h6, p, blockquote, pre {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6, .article-meta {
  line-height: 1.1em;
  a {
    text-decoration: none;
    color: #111;
  }
}

h1 {
  font-weight: normal;
  font-family: $sans;
  font-size: 1.5rem;
}

h2 { font-size: 1.25rem; }
h3 { font-size: 1.1rem; }

.title {
  font-size: 2rem;
  font-family: $sans;
  display: inline-block;
  margin: 0;
  padding: 6rem 1rem 1.25rem;
  // letter-spacing: 1px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #272b2e;
  border-top: none;
  &:hover { color: #fff; }
}

.article-title {
  font-weight: 600;
  font-family: $sans;
}

.small-caps {
  font-size: .85rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $sans;
  font-weight: bold;
}

.article-meta {
  a { color: $color_faded; }
}

/*
  Link styles
*/

a {
  color: $color_accent;
  &:hover {
    color: $color_accent;
  }
}

/*
  Page styles
*/

body {
  // -webkit-font-smoothing: antialiased;
  font-size: $font_size;
  font-family: $serif;
  line-height: 1.65em;
  color: $color_copy;
}

.wrap {
  max-width: $page_width;
  margin: $page_margin;
  padding: $page_padding ;
  overflow: auto;
  section {
    width: 55%;
    display: inline-block;
    &:nth-child(2) { float: right; width: 35%; }
  }
}

.header {
  margin: 0;
  margin-bottom: $header_footer_margin;
  // background-color: $color_faded_blue;
  & .wrap {
    padding: 0 1rem 1rem;
  }
  img {
    width: 200px;
  }
}

.wrapper {
  margin: $page_margin;
  max-width: $page_width;
  padding: $page_padding;
}

.article-break {
  text-align: center;
  color: $color_faded;
  margin: 3rem 0;
  font-size: .85rem;
  &:last-child {
    display: none;
  }
}

aside {
  position: absolute;
  float: left;
  width: 200px;
  margin-left: -230px;
  margin-top: -3rem;
  font-size: .9em;
  line-height: 1.25em;
  text-align: right;
}

.archives {
  padding: 0;
  list-style: none;
  li {
    padding: .2rem 0;
    border-bottom: 1px dotted $color_faded;
    span {
      color: $color_faded;
    }
  }
}

.required {
  border-radius: 10px;
  outline: none;
  font-family: $sans;
  background-color: #fff;
  border: solid 3px $color_faded;
  padding: .5em 1em;
  margin-bottom: 1em;
  width: 250px;
  display: block;
  &:focus {
    border-color: $color_accent;
    // background-color: $color_links;
    // color: #fff;
  }
}

.footer {
  margin-top: $header_footer_margin;
  color: #272b2e;
  background-color: $color_faded_blue;
  font-size: .85em;
  line-height: 1.65em;
  ul {
    padding: 0;
    list-style: none;
  }

}


img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

strong > img {
  max-width: 160%;
  margin-left: -30%;
  border: none;
  outline: none;
}

hr {
  border: 2px solid $color_faded;
  max-width: 40%;
  margin: 2rem auto;
}


/* Media queries */

@media (max-width: 1120px) {
  aside {
    position: relative;
    margin-left: 0;
    font-style: italic;
    max-width: inherit;
    margin-top: 0;
    float: none;
    font-size: .85rem;
    text-align: inherit;
    width: auto;
    line-height: inherit;
    border-top: 1px solid $color_faded;
    border-bottom: 1px solid $color_faded;
    padding: .5em 0;
  }
}

@media (max-width: 1040px) {
  strong > img, .article-break {
    max-width: 130%;
    margin-left: -15%;
  }
}

@media (max-width: 900px) {
  .footer { margin-top: 1rem;}
  strong > img, .article-break {
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .title {
    display: block;
    text-align: center;
    padding: 2rem 0;
  }
  .header {
    margin-bottom: 0rem;
    & .wrap { padding: 0; }
  }
  .title {
    font-size: 2em;
  }
  .archives span {
    float: none;
    display: inline;
    display: none;
  }
  .article-break {
    margin: 3rem 0;
  }
}

